{% extends "base.html" %}
{% block head %}
<link rel="StyleSheet" HREF="{{ STATIC_URL }}openid-selector/css/openid.css" TYPE="text/css">
{% endblock %}
{% block headtitle %}{{ site_name }} - Log In{% endblock %}
{% block content %}
<div id="pb-login-container" style="width=100%; vertical-align: top;">
    <div id="pb-login-openid" style="width=400px; float: left; margin-left:30px; background-color: #bbd1ec; padding: 15px 0px 20px 25px;">
        <h1 style="margin-top: 5px;">Tired of Too Many Passwords?</h1>
        <form id="openid_form" name="openid_form" action="{% url user_signin %}" method="post">
            <input type="hidden" name="action" value="verify" /><input type="hidden" name="next" value="{{ next }}" />
            <fieldset>
                <legend style="font-size-adjust: -1;">
                    Use one of these accounts to access Podiobooks.com:
                </legend>
                <br>
                <br>
                <div id="openid_choice">
                    <div id="openid_btns">
                    </div>
                </div>
                <div id="openid_input_area">
                    <label for="id_openid_url">
                        "OpenId URL :"
                    </label>{{ form1.openid_url }}<input name="openid_submit" type="submit" value="Sign in with OpenID">
                </div>
            </fieldset>
        </form>
        {% if form1.errors %}
        <p class="error">
            {{ form1.openid_url.errors|join:", " }}
        </p>
        {% endif %}
		Just click the name of the account you want to use.
        <br>
        <br>
        Make sure you always use the same account, so you can
        <br>
        always see your stuff!
    </div>
    <div id="pb-login-local" style="width:370px; margin-left:65px; float:left; word-wrap: normal;">
        <h1 style="margin-top: 11px;">Podiobooks-Only Accounts</h1>
        {% if msg %}
        <br/>
        <p class="warning">
            {{ msg }}
        </p>
        {% endif %}
        {% if form2.errors %}
        {% if form2.non_field_errors %}<p class="error">{{ form2.non_field_errors|join:", " }}</p>
        {% endif %}
        <br>
        {% endif %}
        <form id="auth_form" name="auth_form" action="{% url user_signin %}" method="post">
            <input type="hidden" name="next" value="{{ next }}" />
            <fieldset>
                <legend>
                    Sign In Using Your Podiobooks.com Account:
                </legend>
                <br>
                <div class="form-row" style="margin-left: 20px;">
                    <label for="id_username">
                        Username:
                    </label>
                    {{ form2.username }}
                    {% if form2.username.errors %}
                    <p class="error" style="margin-left: 15px;">
                        {{ form2.username.errors|join:", " }}
                    </p>
                    {% endif %}
                </div>
                <br>
                <div class="form-row" style="margin-left: 20px;">
                    <label for="id_password">
                        Password:
                    </label>
                    &nbsp;{{ form2.password }}
                    {% if form2.password.errors %}
                    <p class="error" style="margin-left: 15px;">
                        {{ form2.password.errors|join:", " }}
                    </p>
                    {% endif %}
                </div>
                <div class="submit-row">
                    <input type="submit" name="blogin" value="Sign in" style="margin: 15px 0 0 40px;">
                </div>
            </fieldset>
        </form>
        <br>
        <br>
        <div style="text-align: center;">
            <p><a href="{% url registration_register %}">Create a New Podiobooks-Only Account</a></p>
			<br>
			<p><a href="{% url auth_password_reset %}">Forgot Password?</a></p>
        </div>
    </div>
</div>
<div class="pb-float-clear">
</div>
<br>
<br>
<br>
<h1 style="text-align: center">Podiobooks.com is Free for Anyone to Use!</h1>
<br>
<br>
<script type="text/javascript" src="{{ STATIC_URL }}openid-selector/js/openid-jquery.js">
</script>
<script type="text/javascript">
    $(document).ready(function(){
        openid.init('openid_url', '{{ STATIC_URL }}openid-selector/images/');
    });
</script>
{% endblock %}