<div id="footer">
    <div id="pb-footer-text">
        <a href="#">FAQ</a>
        | <a href="#">Authors</a>
        | <a href="#">Privacy and Legal</a>
        | <a href="#">Blog</a>
        | <a href="#">Promos and Banners</a>
        | <a href="#">Community</a>
        <br>
        <div class="pb-footer-text-important">
            <a href="#">Send us Feedback</a>
            | <a href="#">Report a Problem</a>
            | <a href="#">Donations</a>
        </div>
        <br>
        Text and Layout Copyright &copy; 2005-2009 Podiobooks.com. All rights reserved.
        <br>
        See legal notes for audio file rights.
    </div>
	<script type=text/javascript src='{{MEDIA_URL}}js/pbwidgets/browse-jq.js'></script>
</div>
