{% load global_templatetags %}<!-- Header - Logo and Navigation Bar -->
<div id="header">
    <div id="pb-header-background"> 
		<a href='/'><img alt='Podiobooks Logo' src='{{THEME_MEDIA_URL}}images/pb-logo.jpg' /></a>
	</div>
       <!-- <div id="pb-header-click-region" onclick="document.location.href = ('/')"></div>-->
		<div class='pb-header-menubar-top'></div>
        <div id="pb-header-menubar">
            <div id="pb-header-menubar-items">
            	<a href="/">Home</a>
                | <a href="http://www.podiobooks.com/blog">Blog</a>
                | <a href="http://community.podiobooks.com/">Community</a>
				| {% if user.is_authenticated %}
					<a href="{% url profile %}">My Account</a>
					| <a href="{% url django_authopenid.views.signout %}">Logout {{ user.username }}</a>
				  {% else %} 	
					<a href="{% ssl_site_login_url %}">Login/Register</a>
 	              {% endif %}
            </div>
            {% show_searchbox %}
			{% show_browsebox %}
        </div>
		<div class='pb-header-menubar-bottom'></div>
</div>
<!-- End Header - Logo and Navigation Bar -->
