.error {
	color: red;
	font-weight: bold;
}
.featuredtitlesblock {
	outline: 2px solid green;
}
.menublock {
	outline: 1px solid black;
}
.row1 {
	background-color: rgb(194, 194, 194);
}
.row2 {
	background-color: #ffffff;
}
.smalltext {
	font: 8pt Helvetica, Verdana, Arial, sans-serif;
	margin:0;
	padding-top:.4em;
	text-decoration: none;
}
