{% extends "base.html" %}
{% load title_templatetags %}
{% block headtitle %}Podiobooks User Profile{% endblock %}
{% block head %}
<style type="text/css" media="screen">
    dl.table-display {
        float: left;
        width: 520px;
        margin: 1em 0;
        padding: 0;
        border-bottom: 1px solid #999;
    }
    
    .table-display dt {
        clear: left;
        float: left;
        width: 200px;
        margin: 0;
        padding: 5px;
        border-top: 1px solid #999;
        font-weight: bold;
    }
    
    .table-display dd {
        float: left;
        width: 300px;
        margin: 0;
        padding: 5px;
        border-top: 1px solid #999;
    }
</style>
{% endblock %}
{% block title %}Podiobooks Profile{% endblock %}
{% block content %}
{% if msg %}
<p class="error">
    {{ msg }}
</p>
{% endif %}
<dl class="table-display">
    <dt>
        Name:
    </dt>
    <dd>
        {{ profile.user.get_full_name }}&nbsp;
    </dd>
    <dt>
        Short Description:
    </dt>
    <dd>
        {{ profile.short_profile }}&nbsp;
    </dd>
    <dt>
        Long Description:
    </dt>
    <dd>
        {{ profile.long_profile }}&nbsp;
    </dd>
    <dt>
        URL:
    </dt>
    <dd>
        <a href="{{ profile.url }}">{{ profile.url }}</a>&nbsp;
    </dd>
    <dt>
        Twitter Username:
    </dt>
    <dd>
        <a href="http://twitter.com/{{ profile.twitter_username }}">{{ profile.twitter_username }}</a>&nbsp;
    </dd>
</dl>
<div class="clearfix">
</div>
{% endblock %}