{% extends "base.html" %}

{% load global_templatetags %}
{% load title_templatetags %}

{% block metatags %}
    <meta name="Description" content="{{ title.description|striptags|truncatewords:45 }}"/>
{% endblock %}

{% block headtitle %}{{ title.name }} {{ title.get_byline }} on Podiobooks.com{% endblock %}

{% block body_class %}title-detail-page{% endblock %}

{% block head %}
    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>
{% endblock %}

{% block content %}

    <article class="title-details" id="titleArticle" data-title-slug="{{ title.slug }}" itemscope itemtype="http://schema.org/Book">

        <meta itemprop="bookFormat" content="AudioBook/Serialized">
        <div class="clearfix">
	        <section class="title-details-rail">
	        	<h1 itemprop="name">{{ title.name }} {% show_rating_icon title %}</h1>
		        <div class="title-details-header-cover">{% show_full_titlecover title %}</div>
		        {% include "core/ad/title_detail_inline.html" %}
	        </section>

	        <header class="title-details-header">
	            <div class="title-details-header-info">

	                <p>{% show_contributors title "True" %}</p>

	                <p>{{ title.category_list|safe }}</p>

	                {% if title.series %}
	                    <p>Series:
	                        <a href="{{ title.series.get_absolute_url }}">{{ title.series.name }}</a>
	                        {% if title.series_sequence > 0 %}
	                            (Book {{ title.series_sequence }})
	                        {% endif %}
	                    </p>
	                {% endif %}
	            </div>
	        </header>

	        <div itemprop="description">
	            {% autoescape off %}{{ title.description|linebreaks|removetags:"img" }}{% endautoescape %}
	        </div>
      	</div>

        {% include "core/title/title_consumptionbox.html" %}

        <footer class="title-footer">
            <div class="title-tabs">
                <ul>
                    <li>
                        <a class='tab-trigger' href="#episodes-tab"><span class="hide-on-small-screen">Listen To </span>Episodes</a>
                    </li>

                    <li>
                        <a class='tab-trigger' href="{% url 'title_detail_comments' slug=title.slug %}">Comments</a>
                    </li>

                </ul>

                <div title="Episodes" id="episodes-tab">
                    {% if title.episodes.all %}
                        {% show_episodelist title %}
                    {% else %}
                        <h3>
                            No Episodes Are Available Yet.
                        </h3>
                    {% endif %}
                </div>
            </div>

            {% if title.license %}
                <p class="title-license">
                    <a rel="license" href="{{ title.license.url }}"><img class="title-license-img" alt="{{ title.license.text }} Logo" src="{{ title.license.image_url }}"/></a>
                    This work is licensed under a
                    <a href="{{ title.license.url }}">{{ title.license.text }}</a> license.
                </p>
            {% endif %}
        </footer>
    </article>

    <aside class="title-details-extras">

        {% include "core/title/title_consumptionbox.html" %}

        {% show_awardshow title %}

        <div id="wide-skyscraper-ad" class="wide-skyscraper-ad">
        	{% if 'Erotica' in title.category_list %}
        		<a href="http://www.ErectionFitness.com/ct/298422?b=7252&t=2014Sept"><img src="http://www2.sellhealth.com/2/ef120x600.gif" border=0></a>
        	{% else %}
        		{% include "core/ad/title_detail_sidebar.html" %}
        	{% endif %}

        </div>

    </aside>

{% endblock %}

