{% load title_templatetags %}
{% load url from future %}

<div class="consumption-box clearfix">

    <div class="headphone-title">
        Get This
        <br>
        Book Now!
    </div>

    <ul data-title-slug="{{ title.slug }}" class='consume-list'>
        {% if title.itunes_adam_id %}
            <li id="consume-itunes" class='consume-itunes'><a
                    href="http://itunes.apple.com/podcast/id{{ title.itunes_adam_id }}">Listen in
                iTunes</a></li>
        {% endif %}
        {% if title.scribl_book_id %}
            <li id="consume-scribl" class='consume-scribl'><a
                    href="https://www.scribl.com/books/{{ title.scribl_book_id }}">Buy on Scribl</a></li>
        {% endif %}
        {% for item in title.media.all %}
            {% if item.name == 'Print Version' %}
                <li id="consume-amazon" class='consume-amazon'><a
                        href="http://www.amazon.com/dp/{{ item.identifier }}/?tag=podiobookscom-20">Buy on Amazon</a></li>
            {% endif %}
            {% if item.name == 'Kindle Version' %}
                <li id="consume-amazon" class='consume-kindle'><a
                        href="http://www.amazon.com/dp/{{ item.identifier }}/?tag=podiobookscom-20">Buy on Kindle</a>
                </li>
            {% endif %}
            {% if item.name == 'Smashwords Version' %}
                <li id="consume-smashwords" class='consume-smashwords'><a
                        href="http://www.smashwords.com/books/view/{{ item.identifier }}?ref=evoterra">Buy on Smashwords</a>
                </li>
            {% endif %}
        {% endfor %}
    <li id="consume-rss" class='consume-rss'><a href="{{ title.get_rss_feed_url }}">RSS Feed</a></li>
    </ul>

    {% if title.tips_allowed %}{% show_tipjar_button title %}{% endif %}

</div>
