{% extends "base.html" %}
{% load title_templatetags %}
{% load global_templatetags %}

{% block headtitle %}Recently Released Titles - {{ SITE.name }}{% endblock %}

{% block content %}
	<hgroup class="subscribable-heading clearfix">
		<h1>Recently Released</h1>
		<h2><a href="{% url 'recent_titles_feed' %}"><img class="float-right" src="{{ STATIC_URL }}images/pb-rss-icon.gif" /> <span class="subscribable-heading-text">Subscribe to recently released</span></a></h2>
	</hgroup>
    {% if page_obj.number > 1 %}
        <span class="current">
                <em>Page {{ page_obj.number }} of {{ paginator.num_pages }}</em>
            </span>
    {% endif %}
    
    {% show_titlelist title_list "title_list" %}
    {% show_pagination_links paginator page_obj %}
{% endblock %}