{% extends "base.html" %}

{% load ad_templatetags %}
{% load global_templatetags %}
{% load title_templatetags %}

{% block metatags %}
    <meta name="Description"
          content="{{ title.description|striptags|truncatewords:45 }}"/>
{% endblock %}

{% block headtitle %}{{ title.name }} {{ title.get_byline }} on Podiobooks.com{% endblock %}

{% block head %}
    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>
{% endblock %}

{% block content %}
    {% if 'Erotica' in title.category_list %}
    <aside class="horizontal-large-ad">
            <!--JuicyAds v2.0-->
            <iframe border=0 frameborder=0 marginheight=0 marginwidth=0 width=178 height=18 scrolling=no
                    allowtransparency=true src=http://adserver.juicyads.com/adshow.php?adzone=170728></iframe>
            <!--JuicyAds END-->
            <!--JuicyAds v2.0-->
            <iframe border=0 frameborder=0 marginheight=0 marginwidth=0 width=178 height=18 scrolling=no
                    allowtransparency=true src=http://adserver.juicyads.com/adshow.php?adzone=170729></iframe>
            <!--JuicyAds END-->
            <!--JuicyAds v2.0-->
            <iframe border=0 frameborder=0 marginheight=0 marginwidth=0 width=178 height=18 scrolling=no
                    allowtransparency=true src=http://adserver.juicyads.com/adshow.php?adzone=170730></iframe>
            <!--JuicyAds END-->
            <!--JuicyAds v2.0-->
            <iframe border=0 frameborder=0 marginheight=0 marginwidth=0 width=178 height=18 scrolling=no
                    allowtransparency=true src=http://adserver.juicyads.com/adshow.php?adzone=170730></iframe>
            <!--JuicyAds END-->
    </aside>
    {% endif %}
    <aside class="title-details-extras">
        {% include "core/title/title_consumptionbox.html" %}
        <div id="wide-skyscraper-ad" class="wide-skyscraper-ad">
            {% if 'Erotica' in title.category_list %}
                <!--JuicyAds v2.0-->
                <iframe border=0 frameborder=0 marginheight=0 marginwidth=0 width=168 height=608 scrolling=no
                        allowtransparency=true src=http://adserver.juicyads.com/adshow.php?adzone=170733></iframe>
                <!--JuicyAds END-->
            {% else %}
                <script type="text/javascript"><!--
                google_ad_client = "ca-pub-1276519440300441";
                /* Title - Skyscraper */
                google_ad_slot = "1100881067";
                google_ad_width = 120;
                google_ad_height = 600;
                //-->
                </script>
                <script type="text/javascript"
                        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            {% endif %}
        </div>
    </aside>

    <article data-title-slug="{{ title.slug }}" class="title-details" itemscope itemtype="http://schema.org/Book">

        <meta itemprop="bookFormat" content="AudioBook/Serialized">
        <header>
            <div class="title-details-titlebar">
                <h1 class="title-details-title" itemprop="name">{{ title.name }} {% show_rating_icon title %}</h1>

                <div class="byline">
                    {% show_contributors title %}
                </div>
            </div>
            <div class='imagebox'>
                {% show_titlecover title %}
                {% show_awardshow title %}
            </div>
            {% if title.series %}
                <div class="title-details-seriesbar">
                    <a href="{{ title.series.get_absolute_url }}">{{ title.series.name }}</a>
                    {% if title.series_sequence > 0 %}:
                        Book {{ title.series_sequence }}{% endif %}
                </div>
            {% endif %}
        </header>
        <div class="title-details-top clearfix">

            <div class="title-details-infobar">

                <div class="category">{{ title.category_list|safe }}</div>

                <div class="net-promoter-box">
                    <ul>
                        <li class="promoter-count">
                            Likes: {{ title.promoter_count }}
                        </li>

                        <li class="detractor-count">
                            Dislikes: {{ title.detractor_count }}
                        </li>
                    </ul>
                    <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                    	<meta itemprop="ratingValue" content="{{ title.computed_rating }}"/>
                    	<meta itemprop="bestRating" content="5"/>
                        <meta itemprop="ratingCount" content="{{ title.promoter_count|add:title.detractor_count }}"/>
                    </span>

                </div>

                <div class="sharebox">

                    {% show_tweet %}
                    {% show_plusone %}
                    {% show_like %}

                </div>
            </div>

            <div class="title-description" itemprop="description">
                {% autoescape off %}{{ title.description|linebreaks|removetags:"img" }}{% endautoescape %}
            </div>

            <aside>
                {% if 'Erotica' in title.category_list %}
                    <a href="http://click.linksynergy.com/fs-bin/click?id=y8AvMVrRK4c&offerid=264221.20&subid=0&type=4"><IMG border="0"   alt="Plus Size Lingerie Boutique" src="http://ad.linksynergy.com/fs-bin/show?id=y8AvMVrRK4c&bids=264221.20&subid=0&type=4&gridnum=1"></a>
                {% else %}
                    <aside class="horizontal-large-ad" style="margin: 10px 0 0 5px;">
                        <script type="text/javascript"><!--
                        google_ad_client = "ca-pub-1276519440300441";
                        /* Title - Bottom of page */
                        google_ad_slot = "7520979117";
                        google_ad_width = 468;
                        google_ad_height = 15;
                        //-->
                        </script>
                        <script type="text/javascript"
                                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                        </script>
                    </aside>
                {% endif %}
            </aside>

            {% with title.episodes.all|first as episode %}
            {% endwith %}

        </div>

        <aside class="title-details-extras title-details-extras-inline">
            {% include "core/title/title_consumptionbox.html" %}
        </aside>

        <footer class="title-footer">
            <div class="title-tabs">
                <ul>
                    <li>
                        <a class='tab-trigger' href="#comments-tab">Comments</a>
                    </li>
                    <li>
                        <a class='tab-trigger' href="#episodes-tab">Listen To Episodes</a>
                    </li>
                </ul>
                <div title="Comments" id="comments-tab">
                    {% show_comments title.podiobooker_blog_url %}
                </div>
                <div title="Episodes" id="episodes-tab">
                    {% if title.episodes.all %}
                        {% show_episodelist title %}
                    {% else %}
                        <h3>
                            No Episodes Are Available Yet.
                        </h3>
                    {% endif %}
                </div>
            </div>

            {% if title.license %}
                <p class="title-license">
                    <a rel="license" href="{{ title.license.url }}"><img class="title-license-img"
                                                                         alt="{{ title.license.text }} Logo"
                                                                         src="{{ title.license.image_url }}"/></a>

                    This work is licensed under a
                    <a href="{{ title.license.url }}">{{ title.license.text }}</a> license.
                </p>

            {% endif %}
        </footer>
    </article>

{% endblock %}

