{% extends "base.html" %}

{% load ad_templatetags %}
{% load global_templatetags %}
{% load title_templatetags %}

{% block metatags %}
    <meta name="Description"
          content="{{ title.description|striptags|truncatewords:45 }}"/>
{% endblock %}

{% block headtitle %}{{ title.name }} {{ title.get_byline }} on Podiobooks.com{% endblock %}

{% block head %}
    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>
{% endblock %}

{% block title %}Book Information{% endblock %}

{% block content %}

    <aside class="title-details-extras">
        {% include "core/title/title_consumptionbox.html" %}
        {% if 'Erotica' not in title.category_list %}
            <div id="wide-skyscraper-ad" class="wide-skyscraper-ad">
                
            </div>
        {% endif %}
    </aside>

    <article data-title-slug="{{ title.slug }}" class="title-details" itemscope itemtype="http://schema.org/Book">

        <meta itemprop="bookFormat" content="AudioBook/Serialized">
        <header>
            <div class="title-details-titlebar">
                <h1 class="title-details-title" itemprop="name">{{ title.name }}</h1>

                <div class="byline" itemprop="author">
	            	<span itemscope itemtype="http://schema.org/Person">
	            		<span itemprop="name">{% show_contributors title %}</span>
	            	</span>
                </div>
            </div>
            <div class='imagebox'>
                {% show_titlecover title %}
                {% show_awardshow title %}
            </div>
            {% if title.series %}
                <div class="title-details-seriesbar">
                    <a href="{{ title.series.get_absolute_url }}">{{ title.series.name }}</a>:
                    Book {{ title.series_sequence }}
                </div>
            {% endif %}
        </header>
        <div class="title-details-top clearfix">

            <div class="title-details-infobar">

                <div class="category">{{ title.category_list|safe }}</div>

                <div class="net-promoter-box">

                    <div class="promoter-count">
                        Likes: {{ title.promoter_count }}
                    </div>

                    <div class="detractor-count">
                        Dislikes: {{ title.detractor_count }}
                    </div>
                    
                    <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                    	<meta itemprop="ratingValue" content="{{ title.computed_rating }}"/>
                    	<meta itemprop="bestRating" content="5"/>
                    </span>

                </div>

                <div class="sharebox">

                    {% show_tweet %}
                    {% show_plusone %}
                    {% show_like %}

                </div>
            </div>

            <div class="title-description" itemprop="description">
                {% autoescape off %}{{ title.description|linebreaks|removetags:"img" }}{% endautoescape %}
            </div>

            {% with title.episodes.all|first as episode %}
            {% endwith %}

        </div>

        <aside class="title-details-extras title-details-extras-inline">
            {% include "core/title/title_consumptionbox.html" %}
        </aside>

        <footer class="title-footer">
            <div class="title-tabs">
                <ul>
                    <li>
                        <a class='tab-trigger' href="#comments-tab">Comments</a>
                    </li>
                    <li>
                        <a class='tab-trigger' href="#episodes-tab">Listen To Episodes</a>
                    </li>
                </ul>
                <div title="Comments" id="comments-tab">
                    {% show_comments title.podiobooker_blog_url %}
                </div>
                <div title="Episodes" id="episodes-tab">
                    {% if title.episodes.all %}
                        {% show_episodelist title %}
                    {% else %}
                        <h3>
                            No Episodes Are Available Yet.
                        </h3>
                    {% endif %}
                </div>
            </div>

            {% if title.license %}
                <p class="title-license">
                    <a rel="license" href="{{ title.license.url }}"><img class="title-license-img"
                                                                         alt="{{ title.license.text }} Logo"
                                                                         src="{{ title.license.image_url }}"/></a>

                    This work is licensed under a
                    <a href="{{ title.license.url }}">{{ title.license.text }}</a> license.
                </p>

            {% endif %}
        </footer>
    </article>

{% endblock %}

{% block extra_foot %}
	<div data-move-ad="wide-skyscraper-ad">
		<script type="text/javascript">
            <!--
            google_ad_client = "ca-pub-1276519440300441";
            /* 160x600, created 8/8/10 */
            google_ad_slot = "1145406808";
            google_ad_width = 160;
            google_ad_height = 600; //-->
        </script>
        <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
	</div>
{% endblock %}

