{% extends "base.html" %}
{% load title_templatetags %}
{% load global_templatetags %}

{% block headtitle %}Browse Titles by Series - {{ SITE.name }}{% endblock %}

{% block content %}
	<aside class="browse-list-120-ad">
		<script type="text/javascript"><!--
			google_ad_client = "ca-pub-1276519440300441";
			/* Browse - Series List Skyscraper */
			google_ad_slot = "9768400594";
			google_ad_width = 120;
			google_ad_height = 600;
			//-->
		</script>
		<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</aside>
	
    <h1>All Series</h1>
    <ul class="browse-list">
        {% for series in series_list %}
            <li class="series_{{ series.slug }}"><a
                    href="{{ series.get_absolute_url }}">{{ series.name }}</a> - {{ series.titles.all.count }} title{{ series.titles.all.count|pluralize }}</li>
        {% endfor %}
    </ul>
    <br>
    {% show_pagination_links paginator page_obj %}
{% endblock %}

