{% extends "base.html" %}
{% load title_templatetags %}
{% load global_templatetags %}

{% block headtitle %}Browse Titles by Series - {{ SITE.name }}{% endblock %}

{% block content %}
    <h1>All Series</h1>
    <ul class="browse-list">
        {% for series in series_list %}
            <li class="long-running-list-item series_{{ series.slug }}"><a
                    href="{{ series.get_absolute_url }}">{{ series.name }}</a> - {{ series.titles.all.count }} title{{ series.titles.all.count|pluralize }}</li>
        {% endfor %}
    </ul>
    <br>
    {% show_pagination_links paginator page_obj %}
{% endblock %}

