{% extends "base.html" %}
{% load title_templatetags %}
{% load global_templatetags %}

{% block headtitle %}Browse Titles by Series - {{ SITE.name }}{% endblock %}

{% block body_class %} browse-list-page {% endblock %}


{% block content %}

    <h1>All Series</h1>

    {% include "core/ad/browse_list.html" %}

    <ul class="browse-list">
        {% for series in series_list %}
            <li class="series_{{ series.slug }}">
            	<a href="{{ series.get_absolute_url }}">{{ series.name }}</a> ({{ series|count_titles }}<span class="hide-on-small-screen">&nbsp;title{{ series|count_titles|pluralize }}</span>)
         	</li>
        {% endfor %}
    </ul>

    <br />

    {% show_pagination_links paginator page_obj %}
{% endblock %}

