{% extends "base.html" %}
{% load title_templatetags %}
{% block headtitle %}{{ series.name }} - {{ SITE.name }}{% endblock %}
{% block content %}

    {% if title_list.count %}
        <h1>{{ series.name }}</h1>
        {% if page_obj.number > 1 %}
            <span class="current">
                <em>Page {{ page_obj.number }} of {{ paginator.num_pages }}</em>
            </span>
        {% endif %}
        {% show_titlelist title_list "series_title_list" %}
    {% else %}
        <h1>There are currently no titles available in {{ series.name }}</h1>
    {% endif %}

{% endblock %}
