{% extends "base.html" %}

{% load global_templatetags %}
{% load shelf_templatetags %}
{% load ad_templatetags %}
{% load title_templatetags %}

{% block headtitle %}{{block.super}} - Free Downloadable Audiobooks{% endblock %}

{% block body_class %}home{% endblock %}

{% block head %}
{% endblock %}

{% block content %} 
<h2 class='shelf-heading shelf-heading-dark'>Featured</h2>
<div id="featured-shelf" class='shelf shelf-dark clearfix'>
	
	{% for t in featured_title_list %}
		{% shelf_item t %}
	{% endfor %}
	<form class='genre-change' action="/lazy/featured/" method="post">
		{{category_choice_form.as_p}}
	</form>
	
</div>

<h2 class='shelf-heading shelf-heading-light'>Top Authors</h2>
<div id="top-rated-shelf" class='shelf shelf-light clearfix'>
	{% for t in toprated_title_list %}
		{% shelf_item t %}
	{% endfor %}
	
	<form class='genre-change' action="/lazy/top-rated/" method="post">
		{{contributor_choice_form.as_p}}
	</form>
</div>



<div class='half-shelf-wrap'>
	<div class='half-shelf'>
		<h2 class='shelf-heading shelf-heading-light'>Recently Completed</h2>
		<div id="recently-completed-shelf" class='shelf shelf-light clearfix'>
			{% for t in recentlycomplete_title_list %}
				{% shelf_item t %}
			{% endfor %}
		</div>
	</div>
	
	<div class='half-shelf'>
		<h2 class='shelf-heading shelf-heading-light'>Now Releasing</h2>
		<div id="now-releasing-shelf" class='shelf shelf-light clearfix'>
			{% for t in nowreleasing_title_list %}
				{% shelf_item t %}
			{% endfor %}
		</div>
	</div>
</div>

<div class='clearfix'></div>

{% endblock %}