.pb-float-clear {
	clear: both;
	margin: 0;
	padding: 0;
	height: 0;
	width: 0;
}

#pb-header-background {
	background: url(../images/pb-header.jpg) no-repeat;
	height: 219px;
	width: 995px;
}

#pb-header-menubar {
	font-size: 14px;
	padding: 178px 20px; 0 20px;
	text-align: left;
}

#pb-footer-text {
	font-size: 11px;
	width: 995px;
	text-align: center;
	line-height: 2.0;
	margin-top: 20px;
}

.pb-footer-text-important {
	font-size: 12px;
	font-weight: bold;
}

.pb-body {
	background: url(../images/pb-background.jpg) repeat-x #fff;
	margin: 0px auto;
	font-family: "ff-dax-wide-web-pro-1","ff-dax-wide-web-pro-2","Verdana","Arial",sans-serif;
	width: 995px;
	color: #464646;
}

.pb-body a {
	color: #0054a6;
}

.pb-body a:hover {
	color: #000;
}

.pb-shelf {
	position: relative;
	margin-bottom: 10px;
	font-size: 11px;
	text-align: left;
	overflow: hidden;
}

.pb-shelf-left-arrow {
	float: left;
	height: 226px;
	width: 20px;
	background: url(../images/pb-shelfbox-light-ends.png) bottom left no-repeat;
	cursor: pointer;
}

.pb-shelf-middle {
	float: left;
	height: 226px;
	width: 720px;
	background: url(../images/pb-shelfbox-light-middle.png) repeat-x;
}

.pb-shelf-right-arrow {
	float: left;
	height: 226px;
	width: 20px;
	background: url(../images/pb-shelfbox-light-ends.png) bottom right no-repeat;
	cursor: pointer;
}

.pb-shelf-titlebar {
	margin: 7px 0 15px 15px;
	font-size: 22px;
	color: #fff;
	vertical-align: top;
}

.pb-shelf-controller {
	float: right;
	margin: 8px 3px 0 0;
	vertical-align: top;
}

.pb-shelf-controller .dijitToggleButton {
	border: none;
	background-color: transparent;
	clear: all;
	margin: 0 0 0 4px !important;
	vertical-align: top;
}

.pb-shelf-controller .dijitButtonNode {
	border: none;
	margin: 0 0 0 0;
	width: 10px;
	height: 10px;
	vertical-align: top;
}

.pb-shelf-controller .dijitButtonContents {
	border: none;
	background: transparent;
	vertical-align: top;
	width: 10px;
	height: 10px;
}

.pb-shelf-controller .dijitButtonContents button {
	border: none;
	background: transparent;
	width: 10px;
	height: 10px;
}

/* FireFox Button Padding Fix */
.pb-shelf-controller .dijitButtonNode button::-moz-focus-inner {
	padding: 0;
	border: none; 
}

.pb-shelf-controller .dijitInline {
	vertical-align: top;
}


.pb-shelf-controller .pb-shelf-controller-icon {
	background-image: url(../images/pb-shelf-controller-icons.png); 
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
	background-position: right;
	vertical-align: top;
}

.pb-shelf-controller .dijitToggleButtonChecked .pb-shelf-controller-icon {
	background-position: left;
}

.pb-shelf-container {
	position: relative;
	height: 164px;
}

.pb-shelf-pane {
	position: absolute;
	height: 164px;
	overflow: hidden !important;
}

.pb-shelf-item {
	position: relative;
	width: 220px;
	height: 160px;
	float: left;
	margin: 4px 0 0 15px;
	background: url(../images/pb-shelf-item-frame.png) no-repeat;
}

.pb-shelf-item-cover-image {
	position:absolute;
	top: 13px;
	left: 13px;
}

.pb-shelf-item-preview-icon {
	background: url(../images/pb-preview-icon.png) no-repeat;
	position: absolute;
	top: 125px;
	left: 13px;
	height: 19px;
	width: 63px;
	cursor: pointer;
}

.pb-shelf-item-text {
	position: absolute;
	top: 13px;
	left: 93px; 
	margin-right: 10px;
	white-space: normal;
	text-align: left;
}

.pb-shelf-item-title {
	font-size: 12px;
	color: #0054a6;
	font-weight: bold;
	font-stretch: condensed;
	line-height: 0.95;
}

.pb-shelf-item-contributors {
	margin-top: 4px;
}

.pb-shelf-item-categories {
	margin-top: 2px;
}

.pb-shelf-item-tags {
	margin-top: 6px;
	font-size: 10px;
}

.pb-feature-shelf {
	position: relative;
	height: 230px;
	width: 995px;
	margin-bottom: 10px;
	font-size: 11px;
	color: #000;
}

.pb-feature-shelf .pb-shelf-left-arrow {
	height: 230px;
	width: 20px;
	background: url(../images/pb-shelfbox-dark-ends.png) bottom left no-repeat;
}

.pb-feature-shelf .pb-shelf-middle {
	height: 230px;
	width:  955px;
	background: url(../images/pb-shelfbox-dark-middle.png) repeat-x;
}

.pb-feature-shelf .pb-shelf-right-arrow {
	height: 230px;
	width: 20px;
	background: url(../images/pb-shelfbox-dark-ends.png) bottom right no-repeat;
}

.pb-adstrip {
	font-size: 10px;
	margin: 0 0 15px 10px;
	text-align: center;
}

.pb-infobox {
	float: left;
	display: inline-block;
}

.pb-infobox-left {
	float: left;
	height: 100px;
	width: 13px;
	background: url(../images/pb-infobox-light-left.png) bottom left no-repeat;
	cursor: pointer;
}

.pb-infobox-middle {
	float: left;
	height: 100px;
	width: 100px;
	background: url(../images/pb-infobox-light-middle.png) repeat-x;
}

.pb-infobox-right {
	float: left;
	height: 100px;
	width: 13px;
	background: url(../images/pb-infobox-light-right.png) bottom right no-repeat;
	cursor: pointer;
}


/* clear the styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}