#pb-header-background {
	background: url(../images/pb-header.jpg) no-repeat;
	height: 219px;
	width: 995px;
}

#pb-header-menubar {
	font-size: 14px;
	padding: 178px 20px; 0 20px;
	text-align: left;
}

#pb-footer-text {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	width: 995px;
	text-align: center;
	line-height: 2.0;
	margin-top: 20px;
}

.pb-footer-text-important {
	font-size: 12px;
	font-weight: bold;
}

.pb-body {
	background: url(../images/pb-background.jpg) repeat-x #fff;
	margin: 0px auto;
	font-family: Verdana, Arial, sans-serif;
	width: 995px;
	color: #464646;
}

.pb-body a {
	color: #0054a6;
}

.pb-body a:hover {
	color: #000;
}

.pb-shelf {
	position: relative;
	margin-bottom: 10px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	text-align: left;
}

.pb-shelf-left-arrow {
	float: left;
	height: 226px;
	width: 20px;
	background: url(../images/pb-shelfbox-light-ends.png) bottom left no-repeat;
	cursor: pointer;
}

.pb-shelf-middle {
	float: left;
	height: 226px;
	width: 720px;
	padding-top: 6px;
	background: url(../images/pb-shelfbox-light-middle.png) repeat-x;
}

.pb-shelf-right-arrow {
	float: left;
	height: 226px;
	width: 20px;
	background: url(../images/pb-shelfbox-light-ends.png) bottom right no-repeat;
	cursor: pointer;
}

.pb-shelf-titlebar {
	margin: 0 0 11px 15px;
	font-size: 22px;
	color: #fff;
	vertical-align: top;
	font-stretch: condensed;
}

.pb-shelf-controller {
	float: right;
	margin: -4px 3px 3px 0;
	vertical-align: top;
}

.pb-shelf-controller .dijitToggleButton {
	border: none;
	background-color: transparent;
	clear: all;
	margin: 0 0 0 4px;
	vertical-align: top;
}

.pb-shelf-controller .dijitButtonNode {
	border: none;
	margin: 0 0 0 0;
	width: 10px;
	height: 10px;
	vertical-align: top;
}

.pb-shelf-controller .dijitButtonContents {
	border: none;
	background: transparent;
	vertical-align: top;
}

.pb-shelf-controller .dijitButtonContents button::-moz-focus-inner {
	padding: 0;
	border: none; 
}

.pb-shelf-controller .pb-shelf-controller-icon {
	background-image: url(../images/pb-shelf-controller-icons.png); 
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
	background-position: right;
}

.pb-shelf-controller .dijitToggleButtonChecked .pb-shelf-controller-icon {
	background-position: left;
}

.pb-shelf-item {
	position: relative;
	width: 220px;
	height: 160px;
	float: left;
	margin: 4px 0 0 15px;
	background: url(../images/pb-shelf-item-frame.png) no-repeat;
}

.pb-shelf-item-cover-image {
	position:absolute;
	top: 13px;
	left: 13px;
}

.pb-shelf-item-preview-icon {
	position: absolute;
	top: 125px;
	left: 13px;
}

.pb-shelf-item-text {
	position: absolute;
	top: 13px;
	left: 93px; 
	margin-right: 10px;
	white-space: normal;
	text-align: left;
}

.pb-shelf-item-title {
	font-size: 12px;
	color: #0054a6;
	font-weight: bold;
	font-stretch: condensed;
	line-height: 0.9;
}

.pb-shelf-item-contributors {
	margin-top: 4px;
}

.pb-shelf-item-categories {
	margin-top: 2px;
}

.pb-shelf-item-tags {
	margin-top: 6px;
	font-size: 10px;
}

.pb-feature-shelf {
	position: relative;
	height: 230px;
	width: 970px;
	margin-bottom: 10px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	color: #000;
}

.pb-feature-shelf-left-arrow {
	float: left;
	height: 230px;
	width: 20px;
	background: url(../images/pb-shelfbox-dark-ends.png) bottom left no-repeat;
	cursor: pointer;
}

.pb-feature-shelf-middle {
	float: left;
	height: 230px;
	width:  955px;
	padding-top: 6px;
	background: url(../images/pb-shelfbox-dark-middle.png) repeat-x;
}

.pb-feature-shelf-right-arrow {
	float: left;
	height: 230px;
	width: 20px;
	background: url(../images/pb-shelfbox-dark-ends.png) bottom right no-repeat;
	cursor: pointer;
}