# Lines that start with '#' are comments.
.coverage
.DS_Store
.installed.cfg
.py[co]
.pydevproject.bak
.pydevproject
.settings
.tmp_*
.tox
*.egg
*.egg-info
*.log
bin
build
coverage.xml
develop-eggs
dist
downloads
eggs
js-*_.js
local_settings.py
nosetests.xml
parts
settings_local.py
settings_local_test.py
settings_test_local.py
style-*_.css
