# Lines that start with '#' are comments.
.coverage
.DS_Store
.installed.cfg
.pydevproject.bak
.pydevproject
.settings
.tmp_*
.tox
*.db
*.db-journal
eggs/*
*.log
*.py[co]
bin
build
coverage.xml
develop-eggs
dist
downloads
eggs
js-*_.js
local_settings.py
nosetests.xml
parts
settings_local.py
settings_local_test.py
settings_test_local.py
style-*_.css
css-*_.css
