{% load global_templatetags %}
{% load shelf_templatetags %}
<!-- Begin {{ shelf_title }} Shelf -->
<div class="{{ base_css_class }}" id="{{ shelf_id }}OuterContainer">
	<div class="pb-shelf-arrow pb-shelf-left-arrow">
    	<button dojoType="dijit.form.Button" showLabel="false" label="Click to show the previous set of books on this shelf." type="button" onclick="dijit.byId('{{ shelf_id }}').back();"></button>
    </div>
	<div class="pb-shelf-middle">
        <div class="pb-shelf-titlebar">
            <h2 style="float: left;">{{ shelf_title }}</h2>
			{% if dropdown_values %}
			<form class="pb-shelf-dropdown" action="{{ dropdown_url }}" name="{{ shelf_id }}" id="{{ shelf_id }}Dropdown">
				<div class="pb-shelf-dropdown-label"><label for="id_{{ dropdown_field }}">Select a {{ dropdown_field }} to view titles</label></div>
				{{ dropdown_values }}
            </form>
			<script type="text/javascript">
				dojo.addOnLoad ( function() {
					var dropdownValue = dojo.byId('id_{{ dropdown_field }}').value;
					shelfChange('{{ shelf_id }}', '{{ dropdown_url }}', dropdownValue);
				});
			</script>
			{% endif %}
            <span class="pb-shelf-controller" dojoType="dijit.layout.StackController" containerId="{{ shelf_id }}" buttonWidget="pbwidgets.book_shelf._StackButton"></span>
        </div>
        <div dojoType="dijit.layout.ContentPane" id="{{ shelf_id }}Container" class="pb-shelf-container">
            {% show_shelf_items shelf_id shelf_title title_list shelf_title_width %}
        </div>
    </div>
	<div class="pb-shelf-arrow pb-shelf-right-arrow">
    	<button dojoType="dijit.form.Button" showLabel="false" label="Click to show the next set of books on this shelf." type="button" onclick="dijit.byId('{{ shelf_id }}').forward();"></button>
	</div>
</div>
<div class="pb-float-clear">
</div>
<!-- End {{ shelf_title }} Shelf -->
