{% load main_templatetags %}
{% load title_templatetags %}<!-- Begin {{ shelf_title }} Shelf -->
<script type="text/javascript">
	// Windows Chrome Button Padding Fix
    dojo.addOnLoad(function(){
        if (dojo.isChrome && (navigator.appVersion.indexOf("Win") != -1)) {
            dojo.query(".pb-shelf-controller-icon").style({
                "margin-top": "-1px",
                "margin-left": "-3px",
            });
        }
    });
	
	// Updates a shelf by changing the container ContentPane's href, triggering an XHR
    function contributorChange(shelf_id, shelf_url, dropdown_value){
		dijit.byId(shelf_id+'Container').attr('href', shelf_url.replace('contributor_slug',dropdown_value));
    }
</script>
<div class="{{ base_css_class }}" id="{{ shelf_id }}OuterContainer">
    <div class="pb-shelf-left-arrow" onclick="dijit.byId('{{ shelf_id }}').forward();" alt="Click to Switch to the Previous Page of Podiobooks.">
    </div>
    <div class="pb-shelf-middle">
        <div class="pb-shelf-titlebar">
            <h2 style="float: left;">{{ shelf_title }}</h2>
			{% if dropdown_values %}
            <form class="pb-shelf-dropdown" action="{{ dropdown_url }}" name="{{ shelf_id }}">
				{{ dropdown_values.contributor }}
            </form>
			{% endif %}
            <span class="pb-shelf-controller" dojoType="dijit.layout.StackController" containerId="{{ shelf_id }}" buttonWidget="pbwidgets.book_shelf._StackButton"></span>
        </div>
        <div dojoType="dijit.layout.ContentPane" id="{{ shelf_id }}Container" class="pb-shelf-container">
            {% show_shelf_items shelf_id title_list shelf_title_width %}
        </div>
    </div>
    <div class="pb-shelf-right-arrow" onclick="dijit.byId('{{ shelf_id }}').forward();" alt="Click to Switch to the Next Page of Podiobooks.">
    </div>
</div>
<div class="pb-float-clear">
</div>
<!-- End {{ shelf_title }} Shelf -->
