<div id="menuBarSearchform" style="display:inline;float:right;">
    <form action="{% url title_search %}" method="POST" style="display:inline;">
        <label for="id_keywords" style="font-weight:bold;">
            Search for
        </label>
        {{ titleSearchForm.keywords }}
    </form>
    <form action="{% url category_redirect %}" method="POST" style="display:inline;" id="pb-category-choice-form">
        <label for="id_category" style="font-weight:bold;">
            or Browse
        </label>
        {{ categoryChoiceForm.category }}
    </form>
</div>
