{% load title_templatetags %}
<ul>
    {% for title in title_list %}
    <li class="{% cycle 'row1' 'row2' %}" style="margin: 10px 0 30px 5px;">
        <img src="http://podiobooks.com/images/covers/{{ title.cover }}" height="150" width="100" alt="Title Cover for {{ title.name }}" style="float: left;">
        <div id="titleList" style="float: left; height:80px; margin: 5px 0 0 15px; width: 850px; font-size: 12px">
            <div style="font-size: 16px">
                <a href="{{ title.get_absolute_url }}">{{ title.name }}</a>
            </div>
            <div style="font-size: 13px; margin: 10px 0 7px 0;">
                {% show_contributors title %}
            </div>
            <div style="font-size: 13px; margin: 0 0 7px 0;">
                {% show_categories title %}
            </div>
            <div style="clear: both;">
                {% autoescape off %}{{ title.description|striptags|truncatewords_html:100 }}{% endautoescape %} <a href="{{ title.get_absolute_url }}">[more]</a>
            </div>
        </div>
        <div class="pb-float-clear">
        </div>
    </li>
    {% endfor %}
</ul>
