{% load title_templatetags %}
{% load subscription_templatetags %}
<!-- Begin SubscriptionBox -->
<div class="pb-infobox" id="subscriptionBox">
    <div class="pb-infobox-left">
    </div>
    <div class="pb-infobox-middle" style="width: 200px;">
        <div class="pb-infobox-headphones" style="margin: 0 0 0 20px;">
            Get This
            <br>
            Book Now!
        </div>
		
        <div style="float: left;">
            <img src="{{ THEME_MEDIA_URL }}images/pb-rss-icon.gif">
        </div>
        <div style="float: left; margin: 2px 0 10px 5px;">
            <a href="/rss/feeds/episodes/{{ title.slug }}">Subscribe Free via RSS Feed</a>
        </div>
		<div class="pb-float-clear"></div>
		
        <div style="float: left; margin: 2px 0 10px 5px;">
            {% show_title_subscription_action title user %}
        </div>
		<div class="pb-float-clear"></div>
		
		{% show_donation_button title %}
		
    </div>
    <div class="pb-infobox-right">
    </div>
</div>
<!-- End SubscriptionBox -->
