{% load title_templatetags %}
{% load subscription_templatetags %}
<div id="subscriptionBox" style="float: right; position: relative; margin: 0 5px 0 0;">
    <div style="float: left; height: 463px; width: 13px; background: url(../images/pb-infobox-light-ends.png) bottom left no-repeat;">
    </div>
    <div style="float: left; height: 463px; width: 190px; font-size: 12px; background: url(../images/pb-infobox-light-middle.png) repeat-x;">
        <div style="background: url(../images/pb-headphones.png) no-repeat; height: 63px; width: 165px; text-align: center; font-size: 14px; font-weight: bold; margin: 0 0 0 13px; padding: 18px 0 0 0;">
            Get This
            <br>
            Book Now!
        </div>
        <div class="clearfix">
        </div>
        <div id="accordion" style="opacity: 0;">
            <h2><a href="#rss">Subscribe for Free!</a></h2>
            <div id="rss">
                <a href="/rss/feeds/episodes/{{ title.slug }}">Copy This URL</a>
                into Your Podcatcher
                <br>
                (Help text coming soon)
            </div>
            <h2><a href="#customrss">Custom Subscription</a></h2>
            <div id="customrss">
                <div>
                    {% show_title_subscription_action title user %}
                </div>
            </div>
            <h2><a href="#buydownload">Buy The Whole Book At Once</a></h2>
            <div id="buydownload">
                Coming Soon...
            </div>
        </div>
        <br>
        {% show_donation_button title %}
    </div>
    <div style="float: left; height: 463px; width: 13px; background: url(../images/pb-infobox-light-ends.png) bottom right no-repeat;">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#accordion').accordion();
        $('#accordion').css('opacity', 1);
    });
</script>