{% extends "base.html" %}
{% load global_templatetags %}
{% load title_templatetags %}
{% load disqus_tags %}
{% block headtitle %}{{ title.name }} - {{ site_name }}{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ THEME_MEDIA_URL }}css/title_detail.css">
<link rel="stylesheet" type="text/css" href="{{ THEME_MEDIA_URL }}css/infobox.css">
<link rel="stylesheet" type="text/css" href="{{ THEME_MEDIA_URL }}css/ratings.css">
{% disqus_dev %}
{% endblock %}
{% block title %}Book Information{% endblock %}
{% block content %}
<div class="title-detail" style="margin: 0 0 30px 0;">
    <div style="float:left; text-align: center;">
        {% show_titlecover title %}
        <div style="margin: 10px 0 0 30px; width: 90px;">
            <div class="pb-item-rating-promoter">
                {{ title.promoter_count }}
            </div>
            <div class="pb-item-rating-detractor">
                {{ title.detractor_count }}
            </div>
			<div class="pb-float-clear">
        </div>
    </div>
    <div class="pb-float-clear">
    </div>
    <div style="margin: 5px 0 0 15px; height: 100px; width: 100px;">
        {% show_awardshow title %}
    </div>
</div>
</div>
<div style="float:left; width: 558px; margin: 0 0 20px 20px" class="tundra">
    <div style="font-size: 18px; font-weight: bold;">
        {{ title.name }}
    </div>
		{{ title.byline|safe }}
    <br>
		{{ title.category_list|safe }}
</div>
<div class="pb-float-clear">
</div>
<br></br>
<br></br>
<h2>Ratings</h2>
<script language='JavaScript'>
var OB_langJS = 'http://widgets.outbrain.com/lang_en.js'; var OBITm = '1278028399294';var OB_raterMode = 'singleThumb';var OB_recMode = 'rec'; 

var OutbrainPermaLink='{{ protocol }}://{{ domain }}{{ title.get_absolute_url }}'; 

 if ( typeof(OB_Script)!='undefined' )OutbrainStart(); else { var OB_Script = true; var str = unescape("%3Cscript src=\'http://widgets.outbrain.com/OutbrainRater.js\' type=\'text/javascript\'%3E%3C/script%3E"); document.write(str); }
 </script>
<h2>Comments</h2>
{% disqus_show_comments %}


{% if title.license %}
<div style="float: left; margin: 20px 0px 0px 0px;">
    <a rel="license" href="{{title.license.url}}"><img alt="{{ title.license.text }} Logo" style="border-width:0" src="{{ title.license.image_url }}" /></a>
</div>
<div style="float: left; margin: 26px 0px 10px 10px;">
    This work is licensed under a <a href="{{ title.license.url }}">{{ title.license.text }}</a>
    license.
</div>
<div style="clear: both">
</div>
{% endif %}
<input type="hidden" name="OBKey" value="41BkrdZJ1KEMbSONA09kZQ=="/> <script LANGUAGE="JavaScript">var OBCTm='1278089458101'; </script><script LANGUAGE="JavaScript" src="http://widgets.outbrain.com/claim.js"></script>
{% endblock %}
