{% load title_templatetags %}
{% load subscription_templatetags %}
<style type="text/css">
	
</style>
<div id="subscriptionBox">
	<div id="headphone-title">
		Get This
		<br>
		Book Now!
	</div>
	<div class="clearfix">
	</div>
	<div id="accordion" style="opacity: 0;">
		<h2>
		<a href="#rss">Subscribe for Free!</a>
		</h2>
		<div id="rss">
			<a href="/rss/feeds/episodes/{{ title.slug }}">Copy This URL</a>
			into Your Podcatcher
		</div>
		<h2>
		<a href="#customrss">Custom Subscription</a>
		</h2>
		<div id="customrss">
			<div>
				{% show_title_subscription_action title user %}
			</div>
		</div>
		<h2>
		<a href="#buydownload">Buy The Whole Book At Once</a>
		</h2>
		<div id="buydownload">
			Coming Soon...
		</div>
	</div>
	<br>
	{% show_donation_button title %}
</div>
<script type="text/javascript">
	$(document).ready( function() {
		$('#accordion').accordion();
		$('#accordion').css('opacity', 1);
	});
</script>