{% load title_templatetags %}
<html>
    <head>
        <title>Podiobooks JS/AJAX Testing Page</title>
        <script type="text/javascript">
            //This block is used to be able to bootstrap in the CDN and local stuff side by side
            //It has to load before the call to the dojo js
            djConfig = {
                parseOnLoad: true,
                isDebug: true,
                baseUrl: "/",
                modulePaths: {
                    pbwidgets: "media/js/pbwidgets"
                }
            };
        </script>
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dijit/themes/tundra/tundra.css">
        <style type="text/css">
            @import "/media/js/pbwidgets/book_desc/BookDesc.css";
        </style>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dojo/dojo.xd.js">
        </script>
        <script type="text/javascript">
            dojo.require("dijit.Tooltip");
            dojo.require("pbwidgets.book_desc.BookDesc");
            dojo.require("dojo.parser");
        </script>
    </head>
    <body class="tundra">
        <div id="cargo" style="font-size: big">
        </div>
        <div id="booklist">
            <ul>
                <li id="title1">
                    <a href="">This is the title of the book</a>
                </li>
                <div dojoType="dijit.Tooltip" connectId="title1" position="below" id="topTip">
                    a<i>disposition</i>
                    to bear injuries patiently :<b>forbearance</b>
                </div>
            </ul>
        </div>
        Hello! This is the <span dojoType="pbwidgets.book_desc.BookDesc" descUrl="{% url title_detail_summary '99' %}">title</span>
        of the book
    </body>
</html>
