{% extends "base.html" %}
{% block headtitle %}{{ SITE.name }} - Register New Account{% endblock %}
{% block content %}<h1>Create a New Podiobooks.com Account</h1>
<div style="margin-left: 40px; line-height:2">
    <form action="{% url registration_register %}" method="POST">
        <fieldset>
            <legend>
                Enter the Details for Your New Account:
            </legend>
            {{ form.as_p }}
            <p>
                <input type="submit" name="bsignup'" value="Sign up">
            </p>
        </fieldset>
    </form>
</div>{% endblock %}