{% extends "base.html" %}

{% load global_templatetags %}
{% load shelf_templatetags %}
{% load ad_templatetags %}
{% load title_templatetags %}

{% block headtitle %}{{block.super}} - Free Downloadable Audiobooks{% endblock %}

{% block body_class %}home{% endblock %}



{% block content %}

{% show_shelf "featured_shelf" "Featured Titles" featured_title_list category_choice_form "dark" "400px" %}
{% show_shelf "top_titles_shelf" "Top Rated Titles" toprated_title_list contributor_choice_form "light" "400px" %}

{% endblock %}