{% load title_templatetags %}
{% if episode_list %}
    <ul class="episode-list">
        {% for episode in episode_list %}
            <li class="episode-list-item">
                <div class="episode-list-title">
                    <a href="{{ episode.url }}">{{ episode.name }}</a>
                    <div class="episode-list-fileinfo">({{ episode.filesize|filesizeformat }})</div>
                </div>
                <div class="episode-list-description">
                    {{ episode.description }}
                </div>
                <div class="clearfix"></div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
