{% load title_templatetags %}

{% if episode_list %}
    <ul class="episode-list">
        {% for episode in episode_list %}
            <li class="episode-list-item">
            	<div class="clearfix">
	                <h3 class="episode-list-title">
	                    <a name="{{ episode.pk }}" class="episode-audio-link" href="{{ episode.url }}">{{ episode.name }}</a>
	                </h3>
	                <audio controls preload="none" class="episode-list-player">
			    		<source src="{{ episode.url }}" type="audio/mp3" codecs="mp3" />
					</audio>
				</div>
                <div class="episode-list-description">
                    <p>{{ episode.description }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
