{% load static %}

{% if title %}	
    <div data-title-slug="{{ title.slug }}" class="donate-box">
        <b>Donate!</b>
        <br/>
        Love this free audiobook? <a href="http://blog.podiobooks.com/why-you-should-donate/" target="blank">support</a> it!
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_xclick"><input type="hidden" name="business" value="{{ DONATION_BUSINESS_NAME }}">
            <input type="hidden" name="item_name" value="Podiobooks.com author donation">
            <input type="hidden" name="item_number" value="{{ title.name }}&nbsp;{{ title.get_byline|striptags }}">
            $<input type="text" name="amount" value="9.99" size="8">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="tax" value="0">
            <br/>
            <input type="submit" id="title-donate-submit" value="Donate!" name="submit" class="donate-submit"/>
        </form>
    </div>
{% endif %}