{% load title_templatetags %}
{% load global_templatetags %}


<ul class="title-list">

    {% for title in title_list %}
        {% if forloop.counter|modulus:8 == 1 %}
        	{% include "core/ad/browse_results_list_ad_1.html" %}
        {% endif %}

        {% if forloop.counter|modulus:8 == 5 %}
		    {% include "core/ad/browse_results_list_ad_2.html" %}
        {% endif %}

        <li>
            <article class="clearfix title-list-item">

                <a href="{{ title.get_absolute_url }}">{% show_titlecover title %}</a>

                <h1 class="title-list-title">
                    <a href="{{ title.get_absolute_url }}">{{ title.name }}</a>{% show_rating_icon title %}
                </h1>

                {% if page_name != 'contributor_title_list' %}
                    <p class="byline">
                        {% show_contributors title %}
                    </p>
                {% endif %}

                {% if page_name != 'category_title_list' %}
                    <div class="category">
                        {{ title.category_list|safe }}
                    </div>
                {% endif %}

                <p class="title-list-item-desc">
                    {% autoescape off %}
                        {{ title.description|striptags|truncatewords:65 }}
                    {% endautoescape %}
                </p>
            </article>
        </li>
    {% endfor %}
</ul>
