{% load title_templatetags %}

<ul class="title-list">
    {% for title in title_list %}
        <li>
            
            {% show_titlecover title %}
            <article>
	            
	                <h1 class="title">
	                    <a href="{{ title.get_absolute_url }}">{{ title.name }}</a>
	                </h1>
	                {% if page_name != 'contributor_title_list' %}
	                    <div class="byline">
	                        {{ title.byline|safe }}
	                    </div>
	                {% endif %}
	                
	                {% if page_name != 'category_title_list' %}
	                    <div class="category">
	                        {{ title.category_list|safe }}
	                    </div>
	                {% endif %}
	                
	                {% autoescape off %}
	                	{{ title.description|striptags|truncatewords:85 }}
	                {% endautoescape %} 
	                
	                [<a href="{{ title.get_absolute_url }}">more</a>]
	            
            </article>
            
        </li>
    {% endfor %}
</ul>
