-r requirements.txt
django-redis==3.6.2
newrelic==2.22.0.19
eventlet==0.14.0
gunicorn==19.0
hiredis==0.1.3
psycopg2==2.5.3
redis==2.10.1
-e git+git@github.com:podiobooks/podiobooks_data.git#egg=podiobooks_data
