django>1.5,<1.7
django-adminactions==0.6
django-debug-toolbar==1.2.1
django-jenkins==0.16.3
git+git://github.com/Brant/django-mub.git@master
git+git://github.com/Brant/django-noodles.git@master
django-tastypie==0.11.1
feedparser==5.1.3
mimeparse==0.1.3
pillow==2.5.3  # Use the --use-wheel option to install on windows
pyga==2.5.0
south==0.8.4
django-htmlmin==0.7.0
