celery[redis]>3.1.18,<3.2
django>=1.9
django-adminactions==1.0
django-cache-purge-hooks==0.4.2
django-debug-toolbar==1.4
django-jenkins==0.18.1
git+git://github.com/Brant/django-mub.git@master
git+git://github.com/Brant/django-noodles.git@master
django-x-robots-tag-middleware==1.2
feedparser>5.2.0
pillow==3.0.0
pyga==2.5.0
python-dateutil==2.4.2
