-r requirements.txt
django-db-geventpool==0.90
django-redis==3.3
newrelic==2.18.1.15
eventlet==0.14.0
gunicorn==18.0
hiredis==0.1.1
psycopg2==2.5.1
redis==2.8
-e git+git@github.com:podiobooks/podiobooks_data.git#egg=podiobooks_data
