<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{% block headtitle %}{{ site_name }}{% endblock %}</title>
{% block metatags %}
<meta name="Keywords" content="Base Keyword 1, Base Keyword 2" /> 
<meta name="Description" content="Base Description" />
{% endblock %}
{% block basestyles %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css" >
{% endblock %}
{% block head %}{% endblock %}
</head>
<body {% block bodyid %}id="home"{% endblock %}{% block bodyclass %}{% endblock %}">
{% block sitedivopen %}<div id="site">{% endblock %}
{% block header %}{% include "header.html" %}{% endblock %}
{% block pagetitledivopen %}<div class="heading"><p>{% block title %}No Title Defined{% endblock %}</p>{% endblock %}
{% block contentdivopen %}<div id="content">{% endblock %}
{% block content %}No Content Defined{% endblock %}
{% block contentdivclose %}</div>{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}
{% block sitedivclose %}</div>{% endblock %}
</body>
</html>