a {
	color: #0054a6;
}

a:hover {
	color: #000;
}

body {
	background: url(../images/pb-background.jpg) repeat-x #fff;
	margin: 0px auto;
	border: 0px none;
	width: 970px;
	font-family: "ff-dax-wide-web-pro-1", "ff-dax-wide-web-pro-2", "Verdana", "Arial", sans-serif;
	color: #464646;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	margin: 20px;
}

h2 {
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	margin: 0;
}

h3 {
	font-size:16px;
	font-weight:bold;
	margin: 20px 20px 20px 40px;
}

h4 {
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	margin: 0 0 0 40px;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pb-float-clear {
	clear: both;
	margin: 0;
	padding: 0;
	height: 0;
	width: 0;
}

#pb-header-background {
	height: 160px;
	width: 970px;
	float:left;
	text-align:center;
}
#pb-header-background a img
{
	border:none;
}
#pb-header-click-region {
	cursor: pointer;
	width: 600px;
	height: 120px;
	margin: 0 0 0 210px;
	
}

.pb-header-menubar-top
{
	background:url(../images/pb-header-menubar-top.png) top left no-repeat;
	margin:0px 0px 0px 0px;
	width:970px;
	height:10px;
	float:left;
}
#pb-header-menubar {
	font-size: 14px;
	margin: 0px 0px 0 0px;
	text-align: left;
	float:left;
	width:930px;
	padding:0px 20px 0px 20px;
	background:url(../images/pb-header-menubar.png) top left repeat-y;
}
.pb-header-menubar-bottom
{
	background:url(../images/pb-header-menubar-bottom.png) top left no-repeat;
	margin:0px 0px 20px 0px;
	width:970px;
	height:17px;
	float:left;
}
#pb-header-menubar-items {
	margin: 2px 0 0 0;
	float: left;
}

#pb-header-menubar .dijitButton,
#pb-header-menubar .dijitButtonNode,
#pb-header-menubar .dijitButtonContents,
#pb-header-menubar .dijitInline,
#pb-header-menubar button {
	margin: 0 0 0 0;
	border: none;
	vertical-align: top;
	background: transparent;
}

#pb-footer-text {
	font-size: 11px;
	width: 970px;
	text-align: center;
	line-height: 2.0;
	margin-top: 20px;
}

.pb-footer-text-important {
	font-size: 12px;
	font-weight: bold;
}

.pb-adstrip {
	font-size: 10px;
	margin: 0 0 15px 10px;
	text-align: center;
}

.pb-hidden-label {
	height: 0px;
	width: 0px;
	overflow: hidden;
}

.pb-item-rating-promoter {
	width: 34px;
	height: 48px;
	background: url('../images/pb-thumbs-both.png') no-repeat top left;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #000;
	float: left;
}

.pb-item-rating-detractor {
	width: 33px;
	height: 48px;
	background: url('../images/pb-thumbs-both.png') no-repeat top right;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #000;
	float: right;
	padding: 12px 0 0 0;
}

.pb-browseby-choice {
	font-size: 14px;
	background: #fff;
	border: 1px solid #0054a6;
}


#menuBarSearchform
{
	display:inline;
	margin:0px;
	float:right;
}


.browseby-links
{
	float:right;
	margin:2px 0px 0px 0px;
}
.browseby-links ul
{
	float:right;
	margin:0px 10px 0px 20px;
}
.browseby-links ul li
{
	margin:0px 10px 0px 0px;
	display:inline;
}
.browseby-links ul li a
{
	padding:0px 10px 0px 0px;
	background:url(../images/arrow-right.png) center right no-repeat;
}

.browseby-links ul li a,
.browseby-links ul li a:link,
.browseby-links ul li a:active,
.browseby-links ul li a:hover,
.browseby-links ul li a:visited
{
	text-decoration:none;
}
