a {
	color: #0054a6;
}

a:hover {
	color: #000;
}

body {
	background: url(../images/pb-background.jpg) repeat-x #fff;
	margin: 0px auto;
	border: 0px none;
	width: 970px;
	font-family: "ff-dax-wide-web-pro-1", "ff-dax-wide-web-pro-2", "Verdana", "Arial", sans-serif;
	color: #464646;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	margin: 20px;
}

h2 {
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	margin: 0;
}

h3 {
	font-size:16px;
	font-weight:bold;
	margin: 20px 20px 20px 40px;
}

h4 {
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	margin: 0 0 0 40px;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pb-float-clear {
	clear: both;
	margin: 0;
	padding: 0;
	height: 0;
	width: 0;
}

#pb-header-background {
	background: url(../images/pb-header.jpg) no-repeat;
	height: 219px;
	width: 970px;
}

#pb-header-click-region {
	cursor: pointer;
	width: 600px;
	height: 120px;
	margin: 0 0 0 210px;
}

#pb-header-menubar {
	font-size: 14px;
	margin: 53px 20px 0 20px;
	text-align: left;
}

#pb-header-menubar-items {
	margin: 4px 0 0 0;
	float: left;
}

#pb-header-menubar .dijitButton,
#pb-header-menubar .dijitButtonNode,
#pb-header-menubar .dijitButtonContents,
#pb-header-menubar .dijitInline,
#pb-header-menubar button {
	margin: 0 0 0 0;
	border: none;
	vertical-align: top;
	background: transparent;
}

#pb-footer-text {
	font-size: 11px;
	width: 970px;
	text-align: center;
	line-height: 2.0;
	margin-top: 20px;
}

.pb-footer-text-important {
	font-size: 12px;
	font-weight: bold;
}

.pb-adstrip {
	font-size: 10px;
	margin: 0 0 15px 10px;
	text-align: center;
}

.pb-hidden-label {
	height: 0px;
	width: 0px;
	overflow: hidden;
}

.pb-item-rating-promoter {
	width: 34px;
	height: 48px;
	background: url('../images/pb-thumbs-both.png') no-repeat top left;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #000;
	float: left;
}

.pb-item-rating-detractor {
	width: 33px;
	height: 48px;
	background: url('../images/pb-thumbs-both.png') no-repeat top right;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #000;
	float: right;
	padding: 12px 0 0 0;
}

.pb-browseby-choice {
	font-size: 14px;
	background: #fff;
	border: 1px solid #0054a6;
}
