.pb-shelf {
	position: relative;
	margin-bottom: 14px;
	font-size: 11px;
	text-align: left;
	overflow: hidden;
}

.pb-shelf .dijitButton, .pb-feature-shelf .dijitButton {
	margin: 0px;
}

.pb-shelf .dijitButtonNode, .pb-feature-shelf .dijitButtonNode {
	border: none;
}

.pb-shelf-arrow {
	float: left;
}

.pb-shelf-arrow button {
	height: 226px;
	width: 20px;
	background: none;
	border: none;
}

.pb-shelf-arrow button:focus {
	outline: none;
}

.pb-shelf-left-arrow {
	background: url(../images/pb-shelfbox-light-ends.png) bottom left no-repeat;
}

.pb-shelf-middle {
	float: left;
	height: 226px;
	width: 695px;
	padding: 0 0 0 5px;
	background: url(../images/pb-shelfbox-light-middle.png) repeat-x;
}

.pb-shelf-right-arrow {
	background: url(../images/pb-shelfbox-light-ends.png) bottom right no-repeat;
}

.pb-shelf-titlebar {
	margin: 4px 0 8px 15px;
	height: 35px;
	vertical-align: top;
}

.pb-shelf-controller {
	float: right;
	margin: 8px 3px 0 0;
	vertical-align: top;
}

.pb-shelf-controller .dijitToggleButton {
	margin: 0 0 0 4px;
	vertical-align: top;
}

.pb-shelf-controller .dijitButtonNode {
	border: none;
}

.pb-shelf-controller .dijitButtonContents {
	background: transparent;
	vertical-align: top;
}

/* FireFox Button Padding Fix */
.pb-shelf-controller .dijitButtonNode button::-moz-focus-inner {
	padding: 0;
	border: none; 
}

.pb-shelf-controller .dijitInline {
	vertical-align: top;
}

.pb-shelf-controller .pb-shelf-controller-icon {
	background-image: url(../images/pb-shelf-controller-icons.png); 
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
	background-position: right;
	vertical-align: top;
}

.pb-shelf-controller .dijitToggleButtonChecked .pb-shelf-controller-icon {
	background-position: left;
}

.pb-shelf-container {
	position: relative;
	height: 164px;
	clear: both;
}

.pb-shelf-container .dijitContentPaneLoading {
	background: url(../images/loading-large.gif) no-repeat;
	height: 49px;
	width: 307px;
	margin: 200px 0 0 120px;
	color: transparent;
	display: block;
}

.pb-shelf-pane {
	position: absolute;
	height: 164px;
	overflow: hidden !important;
}

.pb-shelf-item {
	position: relative;
	width: 220px;
	height: 160px;
	float: left;
	margin: 0 5px 0 5px;
	background: url(../images/pb-shelf-item-frame.png) no-repeat;
	overflow: hidden !important;
}

.pb-shelf-item-cover-image {
	position: absolute;
	top: 13px;
	left: 13px;
	border: none;
}

.pb-shelf-item-rating {
	position: absolute;
	top: 119px;
	left: 13px;
	height: 48px;
	width: 67px;
}

.pb-shelf-item-text {
	position: absolute;
	top: 13px;
	left: 93px;
	width: 120px;
	height: 90px;
	white-space: normal;
	text-align: left;
}

.pb-shelf-item-title {
	font-size: 12px;
	color: #0054a6;
	font-weight: bold;
	font-stretch: condensed;
	line-height: 0.95;
}

.pb-shelf-item-contributors {
	margin-top: 4px;
}

.pb-shelf-item-categories {
	margin-top: 2px;
}

.pb-shelf-item-tags {
	margin-top: 6px;
	font-size: 10px;
}

.pb-shelf-item .dijitContentPaneLoading {
	background: url(../images/loading.gif) no-repeat;
	height: 35px;
	width: 35px;
	margin: 62px 0 0 90px;
	color: transparent;
	display: block;
}

.pb-shelf-dropdown {
	float: left;
	margin: 1px 0 0 10px;
}

.pb-feature-shelf {
	position: relative;
	margin-bottom: 10px;
	font-size: 11px;
	color: #000;
}

.pb-feature-shelf .pb-shelf-left-arrow {
	height: 230px;
	background: url(../images/pb-shelfbox-dark-ends.png) bottom left no-repeat;
}

.pb-feature-shelf .pb-shelf-middle {
	height: 230px;
	width:  925px;
	padding: 1px 0 0 5px;
	background: url(../images/pb-shelfbox-dark-middle.png) repeat-x;
}

.pb-feature-shelf .pb-shelf-right-arrow {
	height: 230px;
	background: url(../images/pb-shelfbox-dark-ends.png) bottom right no-repeat;
}

.pb-category-choice {
	font-size: 14px;
	background: #fff;
	border: 1px solid #0054a6;
}

.pb-contributor-choice {
	font-size: 14px;
	background: #fff;
	border: 1px solid #0054a6;
}
