{% load static %}
<script type="text/javascript" src="{{ get_static_prefix }}js/jquery/jquery.cycle.lite.1.0.min.js">
</script>
{% if award_list %}
{% if award_list|length_is:"1" %}
{% for award in award_list %}<a href="{{ award.url }}"><img src="{{ award.image.url }}" alt="{{ award.name }}" style="margin: 0 0 0 10px; border: none"/></a>{% endfor %}
{% else %}
<script type="text/javascript">
	$.fn.cycle.defaults = { 
        timeout:       4000,  // milliseconds between slide transitions (0 to disable auto advance) 
        speed:         1000,  // speed of the transition (any valid fx speed value)  
        height:       'auto', // container height 
        sync:          1,     // true if in/out transitions should occur simultaneously 
        fit:           1,     // force slides to fit container 
        pause:         1,     // true to enable "pause on hover" 
        delay:         0,     // additional delay (in ms) for first transition (hint: can be negative) 
    };
	$(function() {
    	$('#awardShow').cycle();
		$('#awardShow').fadeIn();
	});
</script>
<div id="awardShow" style="display:none;">
    {% for award in award_list %}<a href="{{ award.url }}"><img src="{{ award.image.url }}" alt="{{ award.name }}" style="margin: 0 0 0 10px; border: none"/></a>{% endfor %}
</div>
{% endif %}
{% endif %}
