{% extends "base.html" %}


{% block title %}{{ site_name }} - Associate Your Account With Podiobooks{% endblock %}


{% block content %}
	<div id="completetxt">
	<h1>{% trans "Your External Account is Verified!" %}</h1>
	<p>Your OpenID can now be associated with a new or existing membership. You can change the association later in your preferences.</p>
	<br /><br />
	</div>
	
	<h3>Choose A Nickname for This Account at {{ site_name}}:</h3>
	<div class="login" style="line-height:2">
        <form name="fregister" action="{% url user_register %}" method="POST">
            <input type="hidden" name="next" value="{{ next }}" />
			<fieldset>
				<legend>Choose a New Nickname:</legend>
				<div class="form-row"><label for="id_username">{% trans "Username" %}</label><br />{{ form1.username }}</div>
				<div class="form-row"><label for="id_email">{% trans "Email" %}</label><br />{{ form1.email }}</div>
				<div class="submit-row"><input type="submit" name="bnewaccount" value="Create account"></div>
				<hr class="clear" />
            	</fieldset>
		</form>
	</div>

	<h3>OR</h3>
	
	<h3>If you have an existing {{ site_name }} account, associate this External Account with it by logging in:</h3>

	<div class="login" style="line-height:2">
        <form name="fverify" action="{% url user_register %}" method="POST">
            <input type="hidden" name="next" value="{{ next }}" />
			<fieldset>
				<legend>Associate Your External Account with this {{ site_name }} account:</legend>
				<div class="form-row"><label for="id_username">{% trans "Username" %}</label><br />{{ form2.username }}</div>
				<div class="form-row"><label for="id_passwordl">{% trans "Password" %}</label><br />{{ form2.password }}</div>
				<div class="submit-row"><input type="submit" name="bverify" value="Verify"></div>
			</fieldset>
		</form>
	</div>
{% endblock %}

	

