{% extends "base.html" %}
{% load global_templatetags %}
{% load shelf_templatetags %}
{% load ad_templatetags %}

{% block headtitle %}{{ site_name }} - Free Downloadable Audiobooks{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{{ THEME_MEDIA_URL }}css/infobox.css" >

{% shelf_includes %}

{% endblock %}

{% block content %}

{% show_shelf 'featuredPodiobooksShelf' 'Featured Podiobooks' featured_title_list '' '' 'pb-feature-shelf' 4 %}

{% ad_placeholder %}

{% url contributor_shelf 'contributor_slug' as contributor_dropdown_url %}
{% show_shelf 'authorSpotlightShelf' 'Author Spotlight - ' minimal_title_list contributor_choice_form contributor_dropdown_url 'pb-shelf' 3 %}

{% show_shelf 'topRatedShelf' 'Top Rated Podiobooks' toprated_title_list '' '' 'pb-shelf' 3 %}

{% show_infobox 'Podiobooks.com News' 'homePageInfobox' nowreleasing_title_list recentlycomplete_title_list %}

{% include "debug.html" %}

{% endblock %}
