.error, .errors, .errorlist {
	color: red;
	font-weight: bold;
}
.featuredtitlesblock {
	outline: 2px solid green;
}
.menublock {
	outline: 1px solid black;
}
.row1 {
	background-color: rgb(194, 194, 194);
}
.row2 {
	background-color: #ffffff;
}
.smalltext {
	font: 8pt Helvetica, Verdana, Arial, sans-serif;
	margin:0;
	padding-top:.4em;
	text-decoration: none;
}
.category-list {
	font-style:italic;
}
.contributor-list {
	font-style:italic;
}
.title-complete-notice {
	font-size:smaller;
	text-decoration:none;
}
.title-complete-notice-indicator {
	color: blue;
	font-weight: bold;
}
.title-hover {
	cursor: pointer;
}
