{% extends "base.html" %}
{% load avatar_tags %}
{% load subscription_templatetags %}
{% block headtitle %}Podiobooks Subscriptions{% endblock %}
{% block title %}Podiobooks Subscriptions{% endblock %}
{% block content %}
<h1>Podiobook Subscriptions</h1>
{% if msg %}
<p class="error">
	{% if msg = 'notsubscribed' %}
		You are not subscribed to {{ title_released }} you tried to release episodes of. <a href="{% url title_subscribe title_released %}">Subscribe?</a>
	{% endif %}
	{% if msg = 'nomoreepisodes' %}
		There are no more episodes of {{ title_released }} to release.
	{% endif %}
</p>
{% endif %}

{% if title_subscription_added %}
{% if title_already_subscribed %}<h3>Hi, looks like you are already subscribed to "{{ title_subscription_added.title.name }}".</h3>
{% else %}
<h3>Thanks for {% if title_resubscribed %}Re-{% endif %}Subscribing to "{{ title_subscription_added.title.name }}"!</h3>
{% endif %}
{% endif %}

{% if title_subscription_removed %}
{% if title_not_subscribed %}<h3>Hi, looks like you weren't actively subscribed to "{{ title_subscription_removed.name }}".</h3>
{% else %}<h3>You've been unsubscribed from "{{ title_subscription_removed.name }}".</h3>
{% endif %}
{% endif %}

{% if title_subscription_updated %}
{% if title_not_subscribed %}<h3>Hi, looks like you weren't actively subscribed to "{{ title_subscription_updated.name }}".</h3>
{% else %}<h3>Your subscription to "{{ title_subscription_updated.name }}" has been updated.</h3>
{% endif %}
{% endif %}

{% if title_subscription_one_released %}
<h3>You've released one more episode of "{{ title_subscription_one_released.title.name }}" into your custom feed.</h3>
{% endif %}

{% if title_subscription_all_released %}
<h3>You've released all episodes of "{{ title_subscription_all_released.title.name }}" into your custom feed.</h3>
{% endif %}

{% show_title_subscriptions user %}

{% endblock %}
