{% extends "base.html" %}

{% load global_templatetags %}
{% load title_templatetags %}
{% block body_class %} browse-list-page {% endblock %}
{% block headtitle %}Browse Titles by Award - {{ SITE.name }}{% endblock %}

{% block content %}

    <h1>Browse Titles By Award:</h1>

    {% include "core/ad/browse_list.html" %}

    <ul class="browse-list">
        {% for award in award_list %}
            <li class="series_{{ award.slug }}"><a
                    href="{{ award.get_absolute_url }}">{{ award.name }}</a> ({{ award|count_titles }})</li>
        {% endfor %}
    </ul>

    <br>
    {% show_pagination_links paginator page_obj %}

{% endblock %}
