<!-- Footer -->
<div id="footer">
    <div id="pb-footer-background">
        <div id="pb-footer-text">
            FAQ | Authors | Privacy and Legal | Blog | Promos and Banners | Community
            <br>
            <div style="font-weight:bold; font-size: 12px;">Send us Feedback | Report a Problem | Donations</div>
            <br>
            Text and Layout Copyright &copy; 2005-2009 Podiobooks.com. All rights reserved.
            <br>
            See legal notes for audio file rights.
        </div>
    </div>
</div>
<!-- End Footer -->
