{% load main_templatetags %}<!-- Header - Logo and Navigation Bar -->
<div id="header">
    <div id="pb-header-background">
        <div id="pb-header-click-region" onclick="document.location.href = ('/')">
        </div>
        <div id="pb-header-menubar">
            <div id="pb-header-menubar-items">
                <a href="http://podiobooks.com/about.php">FAQ</a>
                | <a href="http://www.podiobooks.com/authors.php">Authors</a>
                | <a href="http://www.podiobooks.com/blog">Blog</a>
                | <a href="http://community.podiobooks.com/">Community</a>
            </div>
            {% show_searchbox %}
        </div>
    </div>
</div>
<!-- End Header - Logo and Navigation Bar -->
