/*
 * 3 panes per shelf
 */
@media all and (max-width:985px){
	.width{
		width:726px;
	}
		
	.browse-by{
		float:none;
		display:block;
		margin:10px 0 0 0;
		text-align: left;
		float:left;
		width:100%;
	}
	
	.nav{
		margin:0;
		float:left;
	}
	.search{
	}
	
	.half-shelf{
		width:100%;
		
	}
	.half-shelf-wrap{
		float:none;
		width:auto;
	}
	
	/*
	 * title details page
	 */
	.title-details {
		float:right;
		width: 460px;
		margin: 0 30px 0px 15px;
	}
	.title-details-info{
		width:250px;
	}
	
	.award-show{
		float:left;
		width:200px;
		margin-top:20px;
	}
}



/* 
 * 2 panes per shelf
 */
@media all and (max-width:743px){
	
	#djDebug{
		display:none;
	}

	.width{
		width:484px;
	}
	.hide-on-mobile{
		display:none;
	}
	.shelf-select-form select{
		width:120px;
	}
	
	.title-details {
		float:none;
		width: auto;
		margin: 0 30px 20px 15px;
	}
	
	
	.subscription-box {
		background:#D9E4F0;
		margin:0px 0px 30px 0px;
		padding:0px 15px 10px 15px;
		/*
		
		-webkit-box-shadow:0 3px 5px #aaa;
		-moz-box-shadow:0 3px 5px #aaa;
		-o-box-shadow:0 3px 5px #aaa;
		box-shadow:0 3px 5px #aaa;
		*/
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		-o-border-radius:10px;
		border-radius:10px;
		
		font-size: 12px;
		width:auto;
		height:auto;
		float: none;
		position:relative;
		height:230px;
	}
	
	.headphone-title {
		height: 63px;
		text-align: center;
		width:170px;
	}
	.subscribe{
		padding:0px 0 0 0;
		margin:0 0 10px 0px;
		position:absolute;
		right:15px;
		top:15px;
		width:240px
	}
	.subscription-accordion{
		position:absolute;
		top:95px;
		right:15px;
		width:240px;
	}
	
	.donate{
		bottom:15px;
		left:15px;
	}
	
	
}



/*
 * 1 pane per shelf
 */
@media all and (max-width:501px){
	.hide-lowest-width{
		display:none;
	}
	
	body{
		background:#fff;
	}
	.shelf,
	.half-shelf{
		width:242px;
		margin:0 auto;
	}
	.shelf-select-form{
		position:absolute;
		top:-28px;
		left:15px;
		right:auto;
		width:80%;
		z-index:99;
	}
	.shelf-select-form select{
		width:100%;
	}
	.shelf-step{
		display:none;
	}
	
	.shelf-heading{
		width:212px;
		margin:0px auto;
		padding-bottom:33px;
	}
	
	.shelf-wrapper{
		padding:0px 0 30px;
	}
	
	.width{
		width:auto;
	}
	.pg{
		padding:10px 10px 70px 10px;
		position:relative;		
	}
	.nav{
		width:auto;
	}
	.browse-by{
		float:left;
		width:auto;	
		margin:0;	
		padding:0;
	}
	.browse-by li{
		margin:0;
	}
	.nav-bar{
		position:static;
	}	
	
	.search-keywords{
		width:200px;
	}
	.search button{
		margin-left:10px;
	}
	
	
	.pg-foot{
		border-top:solid 1px #b2b2b2;
		padding-top:10px;
	}
	.net-promoter-box{
		margin:10px 0 0 0;
		padding:0;
		float:none;
		height:auto;
	}
	.loading img{
		
	}
	.loading{
		float:none;
		margin-right:0px;
	}
	.imagebox{
		text-align:left;
		width:auto;
		float:left;
		margin:0 10px 0 0;
	}
	.promoter-count,
	.detractor-count {
		height:30px;
	}
	.title-details{
		margin:0;
	}
	.title-details-info{
		width:130px;
		margin:0px 0 30px 0;
		float:left;
	}
	.title-details-title{
		margin-right:0;
	}
	
	.subscription-box {
		height:300px;
	}
	.subscribe{
		right:auto;
		top:85px;
		left:25px;
		width:240px;
	}
	.subscription-accordion{
		position:absolute;
		top:auto;
		bottom:15px;
		right:15px;
		width:40%;
	}
	.donate{
		width:40%;
	}
	.headphone-title {
		height: 63px;
		text-align: center;
		float:none;
		width:auto;
		background-position: center top;
	}
	
	.award-show{
		width:130px;
	}
	
	.logo{
		display:none;
	}
	.nav-bar{
		border-radius:0;
		padding:0;
		margin:0;
		border-bottom:solid 1px #c1d6ee;
		background:#c1d6ee;
		box-shadow:0 1px 7px rgba(0,0,0,.2);
		position:relative;
		z-index:9;
	}
	.nav, .browse-by{
		display:none;
	}
	.menu-triggers{
		display:block;
	}
	.site-menu{
		display:none;
		position:absolute;
		z-index:100;
	}
	.site-menu .nav,
	.site-menu .browse-by{
		display:block;
	}
	.nav-bar li{
		margin:0;
	}
	.menu-triggers{
		float:left;
		border-left:solid 1px #b2ceee;
		border-right:solid 1px #e2e8ee;
	}
	.menu-triggers li{
		padding:0;
		margin:0;
		height:auto;
	}
	.menu-trigger{
		background:url(img/menu.png) 95% 65% no-repeat;
		display:block;
			
		border-right:solid 1px #b2ceee;
		border-left:solid 1px #e2e8ee;
		
		margin:0;		
		padding:0 0 5px;
	}
	.menu-trigger-active{
		background:#b1cded url(img/menu.png) 95% 65% no-repeat;
		border-right-color:#b1cded;
		border-left-color:#b1cded;
	}
	.menu-active{
		display:block;
		position:absolute;
		z-index:99;
		background:#b1cded;
	}
	
	.menu-trigger img{
		height:30px;
		padding:5px 35px 0 5px;
		margin:0;
	}
	
	.head{
		margin:0;	
	}
	.pg{
		padding-top:20px;
		background:#fff url(img/pb-background.jpg) left top repeat-x;
	}
	.site-menu-active{
		background:#b1cded;
		overflow:hidden;
		
	}
	.site-menu{
		min-width:230px;
	}
	.site-menu ul{
		display:block;
		float:none;
	}
	.site-menu li{
		display:block;
		float:none;
		width:auto;
	}
	.site-menu a{
		display:block;
		float:none;
		width:auto;
		padding:12px 10px;
		
		border-top:solid 1px #c7d9ed;
		border-bottom:solid 1px #a5c6ed;
		background:url(img/arrow-right.png) 95% center no-repeat;
	}
	.site-menu a:active,
	.site-menu a:hover,
	.site-menu a:link,
	.site-menu a:visited,
	.site-menu a{
		color:#fff;
		text-decoration:none;
		font-weight:bold;
	}
	.podiobooks-nav-text{
		display:block;
		float:left;
		font-size:18px;
		font-weight:Bold;
		padding:11px 0 0 10px;
		text-shadow:-1px -1px #a5c6ed, 1px 1px #c7d9ed;
		color:#fff;
	}
	/*
	 * Search
	 */
	.search{
		float:right;
		padding:0;
		margin:0;
		padding:12px 10px 0 0;
	}
	.search p{
		margin:0;
		padding:0;
	}
	.search .search-keywords{
		display:none;
	}
	.search .search-submit{
		border:none;
		color:transparent;
		background: url(img/search-white.png) center center no-repeat;
		display:inline-block;
		width:22px;
		height:22px;
	}
	.nav-bar-searching .search .search-keywords{
		display:block;
		float:left;
		
		font-size:18px;
		padding:3px 0 3px 35px;
		width:85%;
		
	}
	.nav-bar-searching .search{
		position:absolute;
		right:10px;
		left:100px;
		padding:0;
		margin:5px 10px 0 0;
	}
	.nav-bar-searching .search .search-submit{
		position:absolute;
		left:0px;
		top:7px;
		background: url(img/search.png) center center no-repeat;
	}
	.nav-bar-searching .podiobooks-nav-text{
		display:none;
	}
}
