/*
 * 3 panes per shelf
 */
@media all and (max-width:985px){	
	.width{
		width:90%;
	}
		
	.browse-by,
	.search-results .browse-by{
		float:none;
		display:block;
		margin:10px 0 0 0;
		text-align: left;
		float:left;
		width:100%;
	}
	
	
	.nav{
		margin:0;
		float:left;
	}
	.half-shelf{
		width:100%;		
	}
	.half-shelf-wrap{
		float:none;
		width:auto;
	}
	.title-details-extras{
		width:24%;
		float:right;
		text-align:right;
	}
	.title-details{
		width:72%;
		float:left;
	}
	
	.search-additional-fields{
		left:-200px;
		top:-27px;
	}
	.nav-bar{
		padding: 15px 20px 15px 20px;
	}
	.first-chapter{
		width:397px;
	}
}



/* 
 * 2 panes per shelf
 */
@media all and (max-width:743px){
	
	.title-details-extras{
		display:none;
	}
	
	.title-details-extras-inline{
		display:block;
		
	}
	.title-details-extras-inline .consumption-box{
		width:auto;
		float:none;
	}
	.title-details-extras-inline .headphone-title{
		
		width:auto;
		float:none;
	}
	.title-details-extras-inline .consume-list{
		float:left;
		width:100%;
		padding:0;
		margin:15px 0 0;
		padding:0 0 20px;
		border-bottom:solid 1px #d1e5f6;
		
		
		
	}
	.title-details-extras-inline .consume-list li{
		float:left;
		width:40%;
		padding:0 5%;
	}
	.title-details-extras-inline .consume-list li a{
		line-height:1.3em;
	}
	.title-details-extras-inline .donate-box{
		float:left;
		width:100%;
		border-top:solid 1px #b2cfea;
		margin:0px 0 0;
		padding:15px 0;
		border-radius:0 0 10px 10px;
	}
	.title-details-top{
	}
	#djDebug{
		display:none;
	}

	.width{
		width:95%;
	}
	.hide-on-mobile{
		display:none;
	}
	.shelf-select-form select{
		width:120px;
	}
	
	.title-details-extras{
		width:auto;
		float:none;
	}
	
	.title-details{
		width:auto;
		float:none;
	}
	
	.wide-skyscraper-ad-placeholder{
		display:none;
	}
	.horizontal-large-ad{
		display:none;
	}
	.search-additional-fields{
		left:10px;
		top:25px;
	}
	.search-results .pg{
		padding-top:40px;
	}
	.first-chapter{
		
		width:357px;
	}
}



/*
 * 1 pane per shelf
 */
@media all and (max-width:501px){
	
	.block-ad{
		display:none;
	}
	.hide-lowest-width{
		display:none;
	}
	
	body{
		background:#fff;
	}
	.shelf-select-form{
		position:absolute;
		top:-32px;
		left:15px;
		right:auto;
		width:80%;
		z-index:99;
	}
	.shelf-select-form select{
		width:100%;
	}
	.shelf-step{
		display:none;
	}
	
	.shelf-heading{
		margin:0px auto;
		padding-bottom:33px;
	}
	
	.shelf-wrapper{
		padding:0px 0 30px;
	}
	
	.width{
		width:auto;
	}
	.nav{
		width:auto;
	}
	.browse-by{
		float:left;
		width:auto;	
		margin:0;	
		padding:0;
	}
	.browse-by li{
		margin:0;
	}
	.nav-bar{
		position:static;
	}	
	
	.search-keywords{
		width:200px;
	}
	.search-submit{
		margin-left:10px;
	}	
	
	.pg-foot{
		border-top:solid 1px #b2b2b2;
		
	}
	.net-promoter-box{
		margin:10px 0 0 0;
		padding:0;
		float:none;
		height:auto;
	}
	.loading{
		float:none;
		margin-right:0px;
	}
	.imagebox{
		text-align:left;
		width:auto;
		float:left;
		margin:0 10px 0 0;
	}
	.promoter-count,
	.detractor-count {
		height:30px;
	}
	
	.logo{
		display:none;
	}
	.nav-bar{
		border-radius:0;
		padding:0;
		margin:0;
		border-bottom:solid 1px #c1d6ee;
		background:#c1d6ee;
		box-shadow:0 1px 7px rgba(0,0,0,.2);
		position:relative;
		z-index:9;
		min-height:43px;
	}
	.nav, .browse-by{
		display:none;
	}
	.menu-triggers{
		display:block;
	}
	.site-menu{
		display:none;
		position:absolute;
		z-index:100;
	}
	.site-menu .nav,
	.site-menu .browse-by{
		display:block;
	}
	.nav-bar li{
		margin:0;
	}
	.menu-triggers{
		float:left;
		border-left:solid 1px #b2ceee;
		border-right:solid 1px #e2e8ee;
	}
	.menu-triggers li{
		padding:0;
		margin:0;
		height:auto;
	}
	.menu-trigger{
		background:url(img/menu.png) 95% 65% no-repeat;
		display:block;
			
		border-right:solid 1px #b2ceee;
		border-left:solid 1px #e2e8ee;
		
		margin:0;		
		padding:0 0 5px;
	}
	.menu-trigger-active{
		background:#b1cded url(img/menu.png) 95% 65% no-repeat;
		border-right-color:#b1cded;
		border-left-color:#b1cded;
	}
	.menu-active{
		display:block;
		position:absolute;
		z-index:99;
		background:#b1cded;
	}
	
	.menu-trigger img{
		height:30px;
		padding:5px 35px 0 5px;
		margin:0;
	}
	
	.head{
		margin:0;	
	}
	.pg{
		padding:30px 10px 70px;
		background:#fff url(img/pb-background.jpg) left top repeat-x;
		position: relative;
	}
	.home .pg{
		padding:0;
	}
	.site-menu-active{
		background:#b1cded;
		overflow:hidden;
		
	}
	.site-menu{
		min-width:230px;
	}
	.site-menu ul{
		display:block;
		float:none;
	}
	.site-menu li{
		display:block;
		float:none;
		width:auto;
	}
	.site-menu a{
		display:block;
		float:none;
		width:auto;
		padding:12px 10px;
		
		border-top:solid 1px #c7d9ed;
		border-bottom:solid 1px #a5c6ed;
		background:url(img/arrow-right.png) 95% center no-repeat;
	}
	.site-menu a:active,
	.site-menu a:hover,
	.site-menu a:link,
	.site-menu a:visited,
	.site-menu a{
		color:#fff;
		text-decoration:none;
		font-weight:bold;
	}
	.podiobooks-nav-text,
	.podiobooks-nav-text a,
	.podiobooks-nav-text a:link,
	.podiobooks-nav-text a:active,
	.podiobooks-nav-text a:visited,
	.podiobooks-nav-text a:hover{
		display:block;
		float:left;
		font-size:18px;
		font-weight:Bold;
		padding:0;
		text-shadow:-1px -1px #a5c6ed, 1px 1px #c7d9ed;
		color:#fff;
		margin:0;
	}
	.podiobooks-nav-text{
		padding:11px 0 0 10px;
		
	}
	/*
	 * Search
	 */
	.search{
		float:right;
		padding:0;
		margin:0;
		padding:12px 10px 0 0;
	}
	.search p{
		margin:0;
		padding:0;
	}
	.search .search-keywords{
		display:none;
	}
	.search .search-submit{
		border:none;
		color:transparent;
		background: url(img/search-white.png) center center no-repeat;
		display:inline-block;
		width:22px;
		height:22px;
	}
	.nav-bar-searching .search .search-keywords{
		display:block;
		float:left;
		
		font-size:18px;
		padding:3px 0 3px 35px;
		width:85%;
		
	}
	.nav-bar-searching .search{
		position:absolute;
		right:10px;
		left:100px;
		padding:0;
		margin:5px 10px 0 0;
	}
	.nav-bar-searching .search .search-submit{
		position:absolute;
		left:0px;
		top:7px;
		background: url(img/search.png) center center no-repeat;
	}
	.nav-bar-searching .podiobooks-nav-text{
		display:none;
	}
	.title-details-titlebar{
		min-height:92px;
		padding:0 90px 20px 0;
	}
	.title-details{
		position:relative;
	}
	.imagebox{
		float:none;
		width:auto;
		position:absolute;
		z-index:999;
		top:0;	
		right:0;
		margin:0;
		padding:0;
	}
	.cover-image{
		width:60px;	
	}
	.award-show{
		padding:0;
		width:auto;
		float:none;
		position:absolute;
		top:0px;
		right:70px;
		margin:0;
	}
	.award-show img{
		height:30px;
		width:auto;
	}
	.title-license{
		padding:0;		
	}
	.title-license img{
		position:static;
		left:auto;
		top:auto;
		float:left;
		padding:0;
		margin:3px 10px 0px 0;
	}
	.title-description {
		font-size:17px;
		line-height:1.5em;
	}
	.fdbk_tab_left,
	.fdbk_tab_bottom{
		display:none;
	}
	
	.search-additional-fields{
		margin:0;
		padding:10px 0;
		border-radius:0px;
		position:static;
		left:0;
		position:absolute;
		top:45px;
		width:100%;
		height:21px;
		box-shadow:0 3px 6px rgba(0,0,0,.1);
	}
	
	.search-additional-fields p{
		display:inline;
		padding:0 0 0 10px;
	}
	.nav-bar-searching .search-additional-fields{
		visibility:hidden;
	}
	.search-additional-fields input{
		float:none;
	}
	.search-results .pg{
		padding-top:60px;
	}
	.search-additional-fields-thinking{
		
	}
	.search-additional-fields-thinking p{
		display:none;
	}
	.first-chapter{
		width:auto;	
		float:none;
	}
	.tab-trigger{
		font-size:14px;
	}
	.shelf{
		border-radius:0;	
		margin:0;
		box-shadow:none;	
		padding: 0 0 5px 0;
	}
	.shelf-heading{
		border-radius:0;	
		margin:0;
		padding:15px 10px 40px 20px; 
	}
	.shelf-wrapper{
		margin:0;
		padding:0;	
	}
	.shelf-arrow-right{
		right:10px;
		top:-53px;
	}
	.shelf-arrow-left{
		left:auto;
		right:35%;
		top:-53px;
	}
	.touch .shelf-arrow{
		display:none;
	}
	.home .pg-foot{
		border-top: none;
	}
}
