/*
 * Google site search decides that it's a good idea
 * to insert a bunch of stylesheets at the end of the <head> element.
 *
 * So, to override those styles, we need to use the same selectors but stronger
 */

body .gsc-control-cse, 
body .gsc-wrapper, 
body .gsc-results, 
body .gsc-result, 
body .gsc-webResult, 
body .gsc-imageResult, 
body .gsc-webResult.gsc-result, 
body .gsc-results .gsc-imageResult {
	background: transparent;
	border: none;
}

body .cse .gsc-webResult.gsc-result:hover,
body .gsc-webResult.gsc-result:hover,
body .gsc-webResult.gsc-result.gsc-promotion:hover,
body .gsc-results .gsc-imageResult-classic:hover,
body .gsc-results .gsc-imageResult-column:hover {
	border: none;
}

.gs-pb-meta {
    font-size: smaller;
    font-style: italic;
}