/* 
 * http://icons.marekventur.de/ 
 */


@font-face {font-family:
    'RaphaelIcons';
    src:
    url('fonts/raphaelicons/raphaelicons-webfont.eot');
    src:
    local('☺'), url('fonts/raphaelicons/raphaelicons-webfont.woff') format('woff'), url('fonts/raphaelicons/raphaelicons-webfont.ttf') format('truetype'), url('fonts/raphaelicons/raphaelicons-webfont.svgwebfontKOf9F4sx') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon,
.shelf-arrow {
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'RaphaelIcons';
    font-size: 1.1em;
    position: relative;
    top: 0.1em;
}
