/*
 * ads
 */
.search-results .block-ad{
	float:right;
	margin:20px 0 20px 40px;
}
.horizontal-large-ad{
	margin:10px auto 30px;
}

/*
 * results
 */
.title-list{
	list-style:none;
}
.title-list-item{
	padding:10px 0 40px 0;
}
.title-list-item a,
.title-list-item a:active,
.title-list-item a:visited,
.title-list-item a:hover,
.title-list-item a:link{
	text-decoration:none;
}
.title-list-item .cover-image{
	float:left;
	margin:10px 30px 15px 0;
}

/*
 * additional fields
 */
.search-additional-fields{
	margin:10px 0 0;
	padding:15px 10px 0;
	border-radius:5px;
	background:#FFFCC9;
	box-shadow:-1px 3px 5px rgba(0,0,0,.2);
	position:absolute;
	left:-200px;
	top:-40px;
	width:160px;
	z-index:999;
	height:76px;
}
.search-additional-fields-submit{
	display:none;
}

.search-additional-fields label{
	display:inline;
}
.search-additional-fields input{
	float:right;
}
/*
 * Overrides
 */


