/*
 * Elements
 */
body {
    background: #fff url('../images/pb-background.jpg') left top repeat-x;
    font-family: "ff-dax-wide-web-pro-1", "ff-dax-wide-web-pro-2", "Verdana", sans-serif;
    color:#111;
}

h1{
    font-size: 24px;
    font-weight: bold;
    padding:0 0 15px;
}

a,
a:visited,
a:link,
a:active {
    color: #0054A6;
}

a:hover {
    color: #c35230;
}

p {
    padding: 0 0 20px;
}

a.fdbk_tab_bottom{
	right:0;
	left:0;
}

/*
* Layout
*/
.width {
    width: 968px;
    margin: 0 auto;
}

.logo {
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo, .logo img {
    max-width: 100%;
}

.pg {
    padding: 0 0 25px;
}

.nav-bar {
    padding: 15px 20px 8px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 5px #aaa;
    -moz-box-shadow: 0 3px 5px #aaa;
    -o-box-shadow: 0 3px 5px #aaa;
    box-shadow: 0 3px 5px #aaa;
    margin: 0 0 35px 0;
    font-size: 15px;
    position: relative;
    background: #d0deee; /* Old browsers */

}

.nav-bar h2 {
    display: inline;
    margin: 0 8px 0 60px;
    color: #464646;
    font-weight: normal;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar li {
    margin: 0 10px 0 0;
}

.nav-bar .cur {
    text-decoration: underline;
}

.headerbar {
    padding: 15px 20px 8px 20px;
    margin: 0 0 20px 0;
}

.loading img {
	display:inline-block;
    background: url('../images/loading.gif') no-repeat center center;
    min-height:50px;
    min-width:50px;
}

/*
* Navigation
*/
.nav {
    list-style: none;
    float: left;
}

.nav li {
    float: left;
}

/*
* Browse
*/
.browse-by {
    list-style: none;
    display: inline;
    margin-left: 200px;
}
.search-results .browse-by{
	margin-left: 110px;
}
.browse-by li {
    display: inline;
}

.browse-by ul {
    display: inline;
    list-style: none;
}

/*
*
* Search
*/
.search {
    float: right;
}

.search label {
    display: none;
}

@media all and (min-width:502px) {
    .search {
        float: right;
        margin: -2px 0 0 0;
        position: relative;
        width: 202px;
        height: 27px;
        padding: 0;
    }

    .search-submit {
        margin: -5px 0 0 0;
        border: 1px solid #448ccb;
        background-color: #06539e;
        padding: 3px;
        color: white;
        font-size: 13px;
    }

    .search label {
        display: none;
    }

    .search-p {
        height: 27px;
    }

    .search-keywords {
        width: 142px;
        border: none;
        background: #fff;
        height: 23px;
        margin: 0;
        display: inline;
        border-top: 1px solid #448ccb;
        border-bottom: 1px solid #448ccb;
        border-left: 1px solid #448ccb;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 5px 0 5px;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-left-radius: 10px;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomleft: 10px;
        -moz-border-radius-bottomright: 0;
        -o-border-radius: 10px 0 0 10px;
        border-radius: 10px 0 0 10px
    }

    .advanced-search .search-keywords {
        position: static;
    }

    .search-submit {
        margin: 0px 0 0 0;
        padding: 0 5px 0 5px;
        display: inline-block;
        border-top: 1px solid #448ccb;
        border-bottom: 1px solid #448ccb;
        border-right: 1px solid #448ccb;
        border-left: none;
        height: 25px;
        position: absolute;
        top: 0;
        left: 142px;
        width: 60px;
        line-height: 25px;
        font-size: 12px;
        -webkit-border-top-left-radius: 0px;
        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-left-radius: 0px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomleft: 0px;
        -moz-border-radius-bottomright: 10px;
        -o-border-radius: 0px 10px 10px 0;
        border-radius: 0px 10px 10px 0;
    }
}

#fb-root,
.fb-reset {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    display: none;
}

.fb-like {
    width: 100px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/*
* Foot
*/
.pg-foot {
    text-align: center;
    border-top: solid 1px #c7c7c7;
    padding: 30px 0 10px;
    
}
.site-menu-active .pg-foot{
	background:#fff;
}

.pg-foot ul {
    list-style: none;
    margin: 5px 0 0 0;
}

.pg-foot li {
    display: inline;
    margin: 0 4px;
}

.foot-nav {
    font-size: 12px;
}

.pg-foot .foot-nav-extra {
    margin-bottom: 30px;
}

.pg-foot p {
    margin: 10px 0 5px 0;
    font-size: 14px;
    color: #464646;
}

.cover-image {
    width: 100px;
    border: none;
    box-shadow: 0 3px 5px #aaa;
}



.title-titlebar {
    height: 40px;
}

.byline a {
    text-decoration: none;
}

.byline a:hover {
    text-decoration: underline;
}

.category {
    font-size: smaller;
    margin: 0px 0 7px 0;
}

.wide-skyscraper-ad-placeholder {
    width: 160px;
    height: 600px;
    margin-left: 8px;
    float: left;
    background: url('http://www.google.com/help/hc/images/adsense/adsense_185665_adformat-text_160x600_en.png');
}

.wide-skyscraper-ad {
    width: 160px;
    height: 600px;
    margin-left: 8px;
    float: left;
}

.leaderboard-ad-placeholder {
    width: 728px;
    height: 90px;
    margin-left: 8px;
    background: url('http://www.google.com/help/hc/images/adsense/adsense_185665_adformat-text_728x90_en.png');
}

.leaderboard-ad {
    width: 728px;
    height: 90px;
    margin: 0 auto 0 auto;
}

.horizontal-large-ad {
    width: 728px;
    height: 15px;
    margin: 0 auto 0 auto;
}

.menu-triggers {
    display: none;
}

.podiobooks-nav-text {
    display: none;
}

.site-menu {
    display: none;
}
