
#awardShow {
	margin: 5px 0 0 15px;
	height: 100px;
	width: 100px;
}





.net-promoter-box {
	margin: 10px 0 0 30px;
	width: 90px;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #000;
}
.detractor-count {
	width: 33px;
	height: 48px;
	background: url(../images/pb-thumbs-both.png) no-repeat top right;
	float: right;
	padding: 12px 0 0 0;
}
.promoter-count {
	width: 34px;
	height: 48px;
	background: url(../images/pb-thumbs-both.png) no-repeat top left;
	float: left;
}
