/*
 * Title details
 */

.title-details {
    float: left;
    width: 765px;
    margin: 0 10px 0 10px;
}

.title-details-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 30px 15px 0;
    float: left;
}

.title-details-titlebar {
    height: 36px;
    border-bottom: solid 1px #b2b2b2;
}

.title-details-titlebar .byline {
    margin-top: 10px;
}

.title-details-infobar {
    background-color: #D9E4F0;
    padding: 5px;
    text-align: center;
    margin: 0 10px 10px 10px;
    height: 200px;
    float: right;
    width: 100px;
    box-shadow: 0 3px 5px #aaa;
}

.category {
    margin: 0;
    font-size: smaller;
}

.category a {
    text-decoration: none;
}

.category a:hover {
    text-decoration: underline;
}

.net-promoter-box {
    font-size: smaller;
    margin-top: 10px;
}

.detractor-count {
    display: inline;
}

.promoter-count {
    display: inline;
}

.ratebox {
    padding-left: 20px;
    margin-top: 6px;
}

.title-sharebox {
    margin-top: 6px;
    font-size: smaller;
}

.title-sharebox a {
    text-decoration: none;
}
.title-sharebox a:hover {
    text-decoration: underline;
}

.title-sharebox ul {
    list-style: none;
}

.title-details-top {
    margin: 10px 0 40px 0 ;
}

.imagebox {
    float: left;
    text-align: center;
    font-size: 10px;
}

.award-show {
    float: left;
    width: 50px;
    margin-top: 20px;
}

.title-description {
    margin: 0;
    line-height: 1.4em;
    font-size: 14px;
}

.title-license-txt {
    float: left;
    margin: 26px 0 10px 0;
    font-size: smaller;
}

.title-license-img {
    float: left;
    margin: 20px 10px 0 0;
}

.title-comment-byline {
    margin: 10px 0 0 0;
    font-weight: bold;
}

.title-comment-text {
    margin: 2px 0 2px 0;
}

.title-comment-readmore {
    margin: 15px 0 0 0;
    font-weight: bold;
}

.title-release-status {

}

.title-release-status span.complete {
    font-weight: bold;
    color: green;
}

.title-release-status span.incomplete {

}

.title-tabs {
    width: 100%;
    margin: 0;
}


/*
 * Consumption Box
 */
.consumption-box {
    background: #D9E4F0;
    margin: 0 10px 30px 0;
    -webkit-box-shadow: 0 3px 5px #aaa;
    -moz-box-shadow: 0 3px 5px #aaa;
    -o-box-shadow: 0 3px 5px #aaa;
    box-shadow: 0 3px 5px #aaa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    font-size: 12px;
    width: 173px;
    height: 380px;
    float: left;
    position: relative;
}

.headphone-title {
    background: url('../images/pb-headphones.png') no-repeat center;
    height: 46px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 16px;
}

/*
 * Donate
 */
.donate-box {
    padding: 5px;
    width: 145px;
    background-color: #bbd1ec;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.donate-box input {
    padding-left: 3px;
}

.consume-list {
    list-style: none;
    margin: 10px 0 10px 10px;
}

.consume-list a {
    text-decoration: none;
    display: block;
    height: 48px;
    line-height: 48px;
    margin-left: 55px;
    margin-top: 3px;
    text-align: left;
}

.consume-list a:hover {
    text-decoration: underline;
}

.consume-itunes {
    background: url('../images/pb-itunes-logo.png') left center no-repeat;
    background-size: 48px 48px;
}

.consume-rss {
    background: url('../images/pb-rss-icon.gif') 15px center no-repeat;
    font-size: smaller;
}

.consume-amazon {
    background: url('../images/pb-amazon-logo.png') left center no-repeat;
    background-size: 48px 48px;
}