{% load global_templatetags %}
{% if title %}
<div>
    <div class="loading" style="height:212px; width:144px">
        <a href="{{ title.get_absolute_url }}">{% if title.libsyn_show_id %}<img id="cover-image" src="http://images.libsyn.com/show/{{ title.libsyn_show_id }}/height/212/width/144" alt="Podiobook Cover for {{ title.name }}" style="height:212px; width:144px; border: none;"/>{% else %}<img class="cover-image" src="http://podiobooks.com/images/covers/{{ title.cover }}" alt="Podiobook Cover for '{{ title.name }}'" style="height:212px; width:144px; border: none;"/>{% endif %}</a>
    </div>
    <div style="font-size:10px;">
        This podiobook is <span style="color:green; font-weight:bold;">{% if title.is_complete %}complete{% else %}still releasing{% endif %}</span>
    </div>
</div>
<script type="text/javascript">
    $('#cover-image').hide();
    $('#cover-image').load(function(){
        $(this).fadeIn();
    });
</script>
{% endif %}