/*
 * 3 panes per shelf
 */
@media all and (max-width:985px){
	.pg{
		width:726px;
	}
		
	.browse-by{
		float:none;
		display:block;
		margin:10px 0 0 0;
		text-align: left;
		float:left;
		width:100%;
	}
	
	.nav{
		margin:0;
		float:left;
	}
	.search{
	}
	
}



/* 
 * 2 panes per shelf
 */
@media all and (max-width:743px){
	
	#djDebug{
		display:none;
	}

	.pg{
		width:484px;
	}
	.hide-on-mobile{
		display:none;
	}
	
}



/*
 * 1 pane per shelf
 */
@media all and (max-width:501px){
	
	.shelf-step{
		display:none;
	}
	
	.shelf{
		width:242px;
		margin:0 auto;
	}
	
	.shelf-heading{
		width:212px;
		margin:30px auto 0;
	}
	
	.pg{
		width:auto;
		padding:10px 10px 50px 10px;
		position:relative;
		
	}
	
	.browse-by{
		margin:10px 0 0px 0;
		display:none;
	}
	
	.pg-head{
		background:none;
		
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		-o-box-shadow:none;
		box-shadow:none;
		
		-webkit-border-radius:0;
		-moz-border-radius:0;
		-o-border-radius:0;
		border-radius:0;
		
		padding:0;
		margin:0 0 0px 0;
		
		position:static;
	}
	.pg-head li{
		margin:0;
	}
	
	.shelf form{		
		width:90px;		
	}
	
	.shelf form select{
		width:90px;
	}
	
	.search{
		float:none;
		margin:0px 0 0 0;
		position:absolute;
		bottom:20px;
		padding:0;
		left:0;
		width:100%;
		text-align:center;
	}
	.search-keywords{
		width:200px;
	}
	.search button{
		margin-left:10px;
	}
	
	.nav{
		float:none;
		display:block;
		width:auto;
		margin:0px -10px 0px -10px;
		
	}
	.nav li{
		display:block;
		float:none;
		
	}
	.nav li a{
		display:block;
		padding:11px 10px 8px 10px;
		margin:0px 0 0px 0;
		color:#fff;
		background: #A2C2E8; /* old browsers */
		background: -moz-linear-gradient(top, #A2C2E8 0%, #7A9FC9 100%); /* firefox */
		
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A2C2E8), color-stop(100%,#7A9FC9)); /* webkit */
		
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A2C2E8', endColorstr='#7A9FC9',GradientType=0 ); /* ie */
		font-weight:bold;
	}
	
	.pg-foot{
		border-top:solid 1px #b2b2b2;
		padding-top:10px;
	}
			
}
