/*
 * 3 panes per shelf
 */
@media all and (max-width:985px){
	.pg{
		width:726px;
	}
		
	.browse-by{
		float:none;
		display:block;
		margin:10px 0 0 0;
		text-align: left;
		float:left;
		width:100%;
	}
	
	.nav{
		margin:0;
		float:left;
	}
	.search{
	}
	
	.half-shelf{
		width:100%;
		
	}
	.half-shelf-wrap{
		float:none;
		width:auto;
	}
	
	
	
}



/* 
 * 2 panes per shelf
 */
@media all and (max-width:743px){
	
	#djDebug{
		display:none;
	}

	.pg{
		width:484px;
	}
	.hide-on-mobile{
		display:none;
	}
	.shelf form select{
		width:120px;
	}
	
}



/*
 * 1 pane per shelf
 */
@media all and (max-width:501px){
	.hide-lowest-width{
		display:none;
	}
	
	
	.shelf,
	.half-shelf{
		width:242px;
		margin:0 auto;
	}
	
	
	
	.shelf-step{
		display:none;
	}
	
	.shelf-heading{
		width:212px;
		margin:30px auto 0;
	}
	
	.pg{
		width:auto;
		padding:10px 10px 70px 10px;
		position:relative;
		
	}
	.nav{
		width:auto;
	}
	.browse-by{
		margin:5px 0 0 0;
		float:right;
		width:auto;
		font-size:10px;			
	}
	.browse-by li{
		margin:0 0 0 10px;
	}
	.pg-head{
		position:static;
	}
	
	.shelf form{		
		width:90px;		
	}
	
	.shelf form select{
		width:90px;
	}
	
	.search{
		float:none;
		margin:0px 0 0 0;
		position:absolute;
		bottom:20px;
		padding:0;
		left:0;
		width:100%;
		text-align:center;
	}
	.search-keywords{
		width:200px;
	}
	.search button{
		margin-left:10px;
	}
	
	
	.pg-foot{
		border-top:solid 1px #b2b2b2;
		padding-top:10px;
	}
			
}
