.shelf-heading{
	background:#4280bd;
	padding:10px 10px 5px 20px;
	color:#fff;
	
	
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	
	
	-o-border-radius:10px 10px 0 0;
	border-radius:10px 10px 0 0;
	
	-webkit-box-shadow:0 3px 5px #aaa;
	-moz-box-shadow:0 3px 5px #aaa;
	-o-box-shadow:0 3px 5px #aaa;
	box-shadow:0 3px 5px #aaa;
	
}
.shelf{
	background:#06539e;
	
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	
	
	-o-border-radius:0px 0px 10px 10px;
	border-radius:0px 0px 10px 10px;
	
	-webkit-box-shadow:0 3px 5px #aaa;
	-moz-box-shadow:0 3px 5px #aaa;
	-o-box-shadow:0 3px 5px #aaa;
	box-shadow:0 3px 5px #aaa;
	
	padding:0 10px 5px 10px;
	
	position:relative;
	z-index:3;
}
.shelf-view{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	
	overflow:hidden;
}
.whole-shelf>div{
	float:left;
	margin-left:12px;
}
.whole-shelf{
	overflow:hidden;
	width:5000px;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
.shelf-item{
	background:#fff;
	float:left;
	width:200px;
	margin:8px 8px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	padding:10px;
	height:140px;
	overflow:hidden;
}
.shelf-item .shelf-cover{
	float:left;
	width:75px;
	padding:0;
	margin:0;
}
.shelf-item .shelf-cover img{
	float:left;
	width:100%;
	height:auto;
}
.shelf-item h3{
	float:right;
	width:120px;
}
.shelf-item p{
	width:120px;
	float:right;
	font-size:12px;
	margin:4px 0 0 0;
} 
.shelf-item h3 a{
	color:#0054a6;
	text-decoration:none;
}

/*
 * Next/Prev Arrows
 */
.shelf-arrow{
	display:block;
	position:absolute;
	width:14px;
	height:14px;
	font-size:0;
	color:transparent;
	top:70px;
}
.shelf-arrow-right{
	background:url(img/arrow-right.png) top left no-repeat;
	z-index:5;
	right:-7px;
	
}
.shelf-arrow-left{
	background:url(img/arrow-left.png) top left no-repeat;
	z-index:5;
	left:-7px;
}


@media all and (max-width:400px){
	.shelf-heading{
		background:transparent;
		padding:0;
		color:#06539e;
		font-size:20px;
		
		-webkit-border-radius:0;
		-moz-border-radius:0;
		-o-border-radius:0;
		border-radius:0;
		
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		-o-box-shadow:none;
		box-shadow:none;
	}
	
	.shelf{
		background:transparent;
		
		-webkit-border-radius:0;
		-moz-border-radius:0;
		-o-border-radius:0;
		border-radius:0;
		
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		-o-box-shadow:none;
		box-shadow:none;
		
		padding:0;
	}
	
	
	.shelf-item{
		background:transparent;
		float:none;
		width:auto;
		margin:5px 0 25px 0;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		-o-border-radius:0;
		border-radius:0;
		padding:5px 0 10px 0;
		height:auto;
		border-bottom:dotted 1px #ccc;
	}
	
	.shelf-item .shelf-cover{
		float:left;
		margin:5px 5px 0 0;
	}
	.shelf-item .shelf-cover img{
		
	}
	.shelf-item h3{
		float:none;
		width:auto;
		display:block;
	}
	.shelf-item p{
		width:auto;
		float:none;
		margin:10px 0 0 0;
		font-size:16px;
		font-color:#272727;
	} 
	.shelf-item h3 a{
		color:#4280bd;
		text-decoration:none;
	}
	
	
}