
#awardShow {
	margin: 5px 0 0 15px;
	height: 100px;
	width: 100px;
}

#headphone-title {
	background: url(../images/pb-headphones.png) no-repeat;
	height: 63px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 18px 0 0 0;
}

#subscription-accordion div {
	padding: 10px;
	margin: 0 0 0 0;
	text-align: center;
}

.net-promoter-box {
	margin: 10px 0 0 30px;
	width: 90px;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #000;
}
.detractor-count {
	width: 33px;
	height: 48px;
	background: url(../images/pb-thumbs-both.png) no-repeat top right;
	float: right;
	padding: 12px 0 0 0;
}
.promoter-count {
	width: 34px;
	height: 48px;
	background: url(../images/pb-thumbs-both.png) no-repeat top left;
	float: left;
}
