{% extends "base.html" %}

{% block headtitle %}All Categories - {{ SITE.name }}{% endblock %}

{% load title_templatetags %}

{% block body_class %} browse-list-page {% endblock %}

{% block metatags %}
    <meta name="Description"
          content="We offer hundreds of free audio books in many categories and genres. Fiction & non-fiction, science fiction & fantasy, comedy & business… and a whole lot more!"/>
{% endblock %}

{% block content %}

	<h1>All Categories</h1>

	{% include "core/ad/browse_list.html" %}

	<ul class="browse-list">
		{% for category in category_list %}
			<li class="category_list_item category_{{ category.slug }}"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a> ({{ category|count_titles }}<span class="hide-on-small-screen">&nbsp;title{{ category|count_titles|pluralize }}</span>)</li>
		{% endfor %}
	</ul>
{% endblock %}

