{% extends "base.html" %}

{% block headtitle %}All Categories - {{ SITE.name }}{% endblock %}

{% block metatags %}
    <meta name="Description"
          content="We offer hundreds of free audio books in many categories and genres. Fiction & non-fiction, science fiction & fantasy, comedy & business… and a whole lot more!"/>
{% endblock %}

{% block content %}
<h1>All Categories</h1>

<ul>
  {% for category in category_list %} 
  	<li class="long-running-list-item category_list_item category_{{category.slug}}"><a href="{{category.get_absolute_url}}">{{ category.name }}</a> - {{ category.title_set.all.count }} title{{ category.title_set.all.count|pluralize }}</li>
  {% endfor %}
</ul>
{% endblock %}

