H1, H2
{
	font-family: Trykker, sans-serif;
	font-weight: normal;
}
BODY
{
	font-family: Trykker, sans-serif;
	font-weight: normal;
}
HEADER
{
	padding: 5px;
	border-bottom: 1px solid #000;
}
HEADER NAV UL
{
	margin-left: 0;
	padding-left: 0;
	display: inline;
}
HEADER NAV UL LI
{
	margin-left: 0;
	padding: 3px 15px;
	border-left: 1px solid #000;
	list-style: none;
	display: inline;
}
HEADER NAV UL LI.first
{
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
}
HEADER FORM
{
	display: inline;
}
HEADER LABEL
{
	margin-right: 5px;
}
HEADER BUTTON
{
	margin-left: 5px;
}
FOOTER
{
	padding: 5px;
	border-top: 1px solid #000;
}
FOOTER NAV UL
{
	margin-left: 0;
	padding-left: 0;
	display: inline;
}
FOOTER NAV UL LI
{
	margin-left: 0;
	padding: 3px 15px;
	border-left: 1px solid #000;
	list-style: none;
	display: inline;
}
FOOTER NAV UL LI.first
{
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
}
FOOTER P
{
	text-align: center;
}
.shelf-cover
{
	float: left;
	position: relative;
    margin-left: 25px;
	margin-right: 25px;
}
.shelf-cover IMG
{
    width: 144px;
    height: 212px;
}
.shelf-item
{
    float: left;
	margin-right: 50px;
	margin-left: 20px;
    width: 200px;
}