{% extends "base.html" %}
{% block body_class %}search-results{% endblock %}
{% block content %}

    <div style="display:none">
        <div id="pb_thumbnail">

            <div class="gs-image-box gs-web-image-box gs-web-image-box-portrait"
                 data-vars="{thumbUrl:function() { return Vars.book ? book.image : cseThumbnail.src; }}">
                <td class="gsc-table-cell-thumbnail gsc-thumbnail">
                    <a class="gs-image"
                       data-attr="{href:url, target:target}">
                        <img class="gs-image"
                             onload="if (this.parentNode && this.parentNode.parentNode && this.parentNode.parentNode.parentNode) { this.parentNode.parentNode.parentNode.style.display = ''; this.parentNode.parentNode.className = 'gs-image-box gs-web-image-box gs-web-image-box-portrait'; } "
                             data-attr="{src:thumbUrl()}"
                                >
                    </a>
                </td>
            </div>
        </div>

        <div id="pb_webResult">
            <div class="gs-webResult gs-result"
                 data-vars="{longUrl:function() {var i = unescapedUrl.indexOf(visibleUrl);return i < 1 ? visibleUrl : unescapedUrl.substring(i);},
                 cleanTitle:function() {return title.replace('on Podiobooks.com','').replace('| Podiobooker', ' - Podiobooker Blog');}}">
                <div data-if="Vars.richSnippet && (Vars.richSnippet.cseThumbnail || Vars.richSnippet.book)" data-attr="0"
                     data-body="render('thumbnail',richSnippet,{url:unescapedUrl,target:target})"></div>
                <div class="gs-title"><a class="gs-title" data-attr="{href:unescapedUrl,target:target}"
                                         data-body="html(cleanTitle())"></a></div>
                <div class="gs-snippet" data-body="html(content)"></div>
                <div class="gs-snippet gs-pb-meta"
                     data-if="Vars.richSnippet && Vars.richSnippet.book && Vars.richSnippet.book.genre"
                     data-body="Vars.richSnippet.book.genre"></div>
                <div class="gs-snippet gs-pb-meta"
                     data-if="Vars.richSnippet && Vars.richSnippet.book && Vars.richSnippet.book.award"
                     data-body="Vars.richSnippet.book.award"></div>
                <div class="gs-visibleUrl gs-visibleUrl-short" data-body="visibleUrl"></div>
                <div class="gs-visibleUrl gs-visibleUrl-long" data-body="longUrl()"></div>
            </div>
        </div>
    </div>

    <!-- Div container for the search box.-->
    <div class="cse-container" id="cse"></div>

{% endblock %}