{% extends "base.html" %}
{% block search_box %}{% endblock %}
{% block head %}
    <script>
        (function () {
            var cx = '010914689440209038869:giz6dgkgspe';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>
{% endblock %}

{% block content %}
    <gcse:search></gcse:search>

    <style>
        .gsc-control-cse {
            background: transparent;
            border: none;
        }
    </style>
{% endblock %}