{% extends "base.html" %}
{% block search_box %}{% endblock %}
{% block content %}
    <gcse:searchbox-only webSearchSafesearch="active" webSearchResultSetSize="20" resultsUrl="/search/snip/"></gcse:search>
{% endblock %}

{% block extra_foot %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://www.google.com/cse/cse.js?cx=014749959765467686078:giz6dgkgspe" type="text/javascript"></script>

    <style>
        .gsc-control-searchbox-only {
            width: 270px;
            float: right;
            margin: -5px -5px -5px -5px;
        }
    </style>
{% endblock %}