{% extends "base.html" %}
{% block search_box %}{% endblock %}
{% block head %}
    <script>
        (function () {
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'http://www.google.com/cse/cse.js?cx=014749959765467686078:giz6dgkgspe';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>
{% endblock %}

{% block content %}
    <gcse:search webSearchSafesearch="active" webSearchResultSetSize="20" resultsUrl="/search/snip/"></gcse:search>
    <style>
        .gsc-control-cse {
            background: transparent;
            border: none;
        }
    </style>
{% endblock %}