{% extends "base.html" %}

{% block headtitle %}All Categories - {{ site_name }}{% endblock %}

{% block content %}
<h1>
    All Categories
</h1>
<table>
    <thead>
    <tr>
        <th>Category Name</th>
        <th>Number of Titles</th>
    </tr>
    </thead>
    <tbody>
    {% for category in category_list %}
    <tr>
        <td>
            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
        </td>
        <td>
            {{ category.title_set.all.count }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

