{% extends "base.html" %}

{% block content %}
    <h1>Our apologies, but that file was not found.</h1>
    <p>As part of our new site, many files have moved around. As a result, you may need to update your links.</p>
    <h3>What were you looking for?</h3>
    <ul>
        <li><a href="http://blog.podiobooks.com/what-happened-to-my-login/">What Happened To My Login?</a></li>
        <li><a href="http://blog.podiobooks.com/what-happened-to-the-charts/">What Happened To The Charts?</a></li>
    </ul>
    <p>Many titles have new, search-engine-friendly names, so they may not appear under their old urls.
    Try the search box above to look for your titles.</p>
    <p>Thanks for your support of Podiobooks.com, and we apologize for any inconvenience.</p>
{% endblock %}