<div class='pg-foot clearfix width'>


	<ul class='foot-nav' id="footNav">
	    <li><a href="http://blog.podiobooks.com/frequently-asked-questions/">FAQ</a></li>
	    <li><a href="http://blog.podiobooks.com/podiobooks-com-goes-mobile/">Where to Listen?</a></li>
	    <li><a href="http://blog.podiobooks.com/how-to-get-your-books-listed-on-podiobooks-com/">How to List Your Audiobook</a></li>
		<li><a href="http://blog.podiobooks.com/podiobooks-staff/">Staff</a></li>
        <li><a href="http://blog.podiobooks.com/why-you-should-donate/">Why Tip?</a></li>
	    <li><a href="http://blog.podiobooks.com/privacy-and-legal-speak-in-plain-if-not-ill-formed-english/">Privacy and Legal</a></li>
	    <li><a href="http://blog.podiobooks.com/">Blog</a></li>
	</ul>


	<div class="foot-moveable clearfix">
		<div class="libsyn-wrap"><a href="http://www.libsyn.com"><img src="http://www.libsyn.com/pb4" alt="Powered by Libsyn.com" /></a></div>

		<div class="social-wrap">
			<a href="//plus.google.com/u/0/117798157258572080176?prsrc=3" rel="publisher" target="_top" style="text-decoration:none;"><img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/></a>
			<a href="https://www.facebook.com/podiobooks" style="text-decoration:none"><img src="{{ STATIC_URL }}images/pb-facebook-logo.png" alt="Facebook" style="border:0;width:32px;height:32px;"/></a>
			<a href="https://www.twitter.com/Podiobooks" style="text-decoration:none"><img src="{{ STATIC_URL }}images/pb-twitter-logo.png" alt="Twitter" style="border:0;width:32px;height:32px;"/></a>
		</div>

	</div>

	<div class="legal">
	    <p>Text and Layout Copyright &copy; 2005-2014 Podiobooks.com. All rights reserved.</p>

	    <p>See legal notes for audio file rights.</p>
	</div>


</div>
