<div class='pg-foot clearfix width'>
	<ul class='foot-nav'>
	    <li><a href="http://blog.podiobooks.com/faq">FAQ</a></li>
	    <li><a href="http://blog.podiobooks.com/authors">Authors</a></li>
		<li><a href="http://blog.podiobooks.com/staff">Staff</a></li>
	    <li><a href="http://blog.podiobooks.com/privacyandlegal">Privacy and Legal</a></li>
	    <li><a href="http://blog.podiobooks.com/">Blog</a></li>
	    <li><a href="http://community.podiobooks.com/">Community</a></li>
	</ul>
    <p>Text and Layout Copyright &copy; 2005-2012 Podiobooks.com. All rights reserved.</p>

    <p>See legal notes for audio file rights.</p>
</div>