{% if active_subscriptions %}<h3>Active Subscriptions</h3>
<ul class="pb-subscription-list">
    {% for subscription in active_subscriptions %}
    <li>
        <a href="{% url title_detail subscription.title %}">{{ subscription.title.name }}</a> - New Episode Every {{ subscription.day_interval }} days (<a href="{% url title_unsubscribe subscription.title %}">Unsubscribe</a>) | <a href="/rss/feeds/episodes/{{ subscription.title.slug }}/{{ user.username }}">Custom Feed</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You have no active subscriptions.</p>
{% endif %}
{% if inactive_subscriptions %}<h3>Inactive Subscriptions</h3>
<ul class="pb-subscription-list">
    {% for subscription in inactive_subscriptions %}
    <li>
        <a href="{% url title_detail subscription.title %}">{{ subscription.title.name }}</a> - New Episode Every {{ subscription.day_interval }} days (<a href="{% url title_subscribe subscription.title %}">Re-subscribe</a>) | <a href="/rss/feeds/episodes/{{ subscription.title.slug }}/{{ user.username }}">Custom Feed</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You have no inactive subscriptions.</p>
{% endif %}