{% extends "base.html" %}

{% block headtitle %}All Contributors - {{ site_name }}{% endblock %}

{% block content %}
<style type="text/css">
    .contributor_list_item {
        margin: 10px 20px 10px 20px;
    }
</style>
<h1>
    All Contributors
</h1>
<table>
    <thead>
    <tr>
        <th>Contributor Name</th>
        <th>Number of Titles</th>
    </tr>
    </thead>
    <tbody>
    {% for contributor in contributor_list %}
    <tr>
        <td>
            <a href="{% ifequal contributor.title_set.all.count 1 %}
                {% url title_detail slug=contributor.title_set.all|first %}
                {% else %}
                {{ contributor.get_absolute_url }}
                {% endifequal %}">{{ contributor.display_name }}</a>
        </td>
        <td>
            {{ contributor.title_set.all.count }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

