{% load title_templatetags %}
{% if episode_list %}
    <ul class="episode-list">
        {% for episode in episode_list %}
            <li class="episode-list-item">
                <h3 class="episode-list-title">
                    <a class="episode-audio-link" href="{{ episode.url }}">{{ episode.name }}</a>
                </h3>
                <div class="episode-list-description">
                    {{ episode.description }}
                </div>
                <div class="clearfix"></div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
