{% if title %}
    {% for titlecontributor in title.titlecontributors.all %}
        {% if titlecontributor.contributor_type.slug == 'author' and forloop.first %}by{% else %}
            {{ titlecontributor.contributor_type.byline_text }}{% endif %}
        <a href="{{ titlecontributor.contributor.get_absolute_url }}">
            {% if detail %}
                <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">
            {% endif %}
            {{ titlecontributor.contributor }}
            {% if detail %}</span>
                <span itemprop="url" style="display:none">
                    http://{{ SITE.domain }}{{ titlecontributor.contributor.get_absolute_url }}
                </span></span>
            {% endif %}
        </a>
        {% if not forloop.last %},{% endif %}
    {% endfor %}
{% endif %}
