{% extends "base.html" %}

{% block headtitle %}{{ title.name }} - Podiobooks.com{% endblock %}

{% block title %}{{ title.name }}{% endblock %}

{% block content %}
{% if title.categories.all %}
<i>
{% for category in title.categories.all %}
{{ category.name }}{% if not forloop.last %},{% endif %}</li>
{% endfor %}
</i>
{% endif %}
<div class="description">{% autoescape off %}{{title.description}}{% endautoescape %}</div>
<div class="cover"><img src="{{ MEDIA_URL }}images/covers/{{ title.cover }}" title="{{ title.name }} Cover" alt="{{ title.name }} cover art"/></div>

<p><a href="{% url title_list %}">Back to Title List</a> | <a href="{% url home_page %}">Back to Home Page</a> </p>
{% endblock %}
