{% extends "base.html" %}

{% block headtitle %}Podiobooks.com Home{% endblock %}

{% block title %}Podiobooks.com Home{% endblock %}

{% block content %}
<div class="featuredtitlesblock">
<div class="heading"><p>Selections from the Staff <span class="smalltext">(<a href="{% url title_list %}">Show all books</a>)</span></p></div>
<table>
{% for title in titles %}
	<tr valign="top" class="{% cycle 'row1' 'row2' %}">	
		<td><img src="{{ MEDIA_URL }}images/covers/{{ title.cover }}" /></td>
		<td>
			<p><a href="{{ title.get_absolute_url }}">{{ title.name }}</a><p>
			<p>{% autoescape off %}{{ title.description|truncatewords_html:100 }}{% endautoescape %} <a href="{{ title.get_absolute_url }}">[more]</a></p>
		</td>
	</tr>
{% endfor %}
</table>
</div>

{% endblock %}
