/*
 * 3 panes per shelf
 */
@media all and (max-width:950px){	
	.width{		
		width:auto;
		padding:0 18px;
	}
	.home .width{
		padding:0 40px;
	}
	.pg-foot,
	.home .pg-foot{
		padding:30px 40px 10px;
	}
	.nav{
		margin:0;
		float:left;
	}
	.half-shelf{
		width:100%;		
	}
	.half-shelf-wrap{
		float:none;
		width:auto;
	}
	.search-additional-fields{
		left:-200px;
		top:-27px;
	}
	.shelf-arrow-right {
	    right: -29px;
	}
	.shelf-arrow-left {
	    left: -29px;
	}	
	.browse-choices li{
		width:35%;
		text-align:center;
	}
	.browse-list{
		-webkit-column-count: 2;
		-ms-column-count: 2;
		-moz-column-count: 2;
		-o-column-count: 2;
		column-count: 2;
	}
	.browse-choices{
		width:auto;
		float:none;
	}
	.browse-choices li{
		width:40%;
	}
	.browse-choices-ad{
		margin:100px 50px 0 0;
	}
	.browse-choices-ad-2{
		margin:0;
		text-align:center;
		float:none;	
	}
	.title-details{
		width:70%;
	}
	.title-details-extras{
		width:25%;
	}
}



/* 
 * 2 panes per shelf
 */
@media all and (max-width:753px){
	
	.shelf-arrow-right {
	    right: -6px;
	}
	.shelf-arrow-left {
	    left: -6px;
	}
	.shelf-arrow:visited,
	.shelf-arrow:hover,
	.shelf-arrow:link,
	.shelf-arrow:active{
	    text-decoration:none;
	}
	
	#djDebug{
		display:none;
	}

	.width,
	.home .width{
		width:95%;
		padding:0;
	}
	.pg-foot,
	.home .pg-foot{
		padding: 20px 0 10px;
	}
	.hide-on-mobile{
		display:none;
	}
	.shelf-select-form select{
		width:120px;
	}
	
	.wide-skyscraper-ad-placeholder{
		display:none;
	}
	
	.search-additional-fields{
		left:10px;
		top:25px;
	}
	.browse-by{
		float:left;
		width:100%;
		text-align:left;
	}
	.browse-choices{
		text-align:center;
	}
	.browse-choices-ad{
		margin:0 0 10px;
		float:none;
		width:auto;
		text-align:center;
	}
	.browse-choices-page h1{
		text-align:center;
		padding-left:0;	
	}
	
	.title-details-extras{
		display:none;
	}
	.title-details{
		float:none;
		width:auto;
	}
	
}


/*
 * 5 Panes per shelf
 */
@media all and (min-width:1200px){
	.width{
		width:1080px;
		max-width:auto;
	}
	.browse-list{
		-webkit-column-count: 3;
		-moz-column-count: 3;
		-o-column-count: 3;
		column-count: 3;
	}
	.browse-choices{
		width:76%;
	}
	.browse-choices li{
		width:25%;
	}
	.browse-choices-ad{
		margin:10px 0 0 ;
	}
	.consume-list a {
		padding-left:65px;
	}
	
}
