/*
 * 3 panes per shelf
 */
@media all and (max-width:950px){	
	.home .width,
	.width{		
		width:92%;
		min-width: 0;
	}
	.pg-foot,
	.home .pg-foot{
		width:auto;
		margin:0 10px;
		text-align: center;
	}
	.nav{
		margin:0;
		float:left;
	}
	.search-additional-fields{
		left:-200px;
		top:-27px;
	}
	.shelf-arrow-right {
	    right: -29px;
	}
	.shelf-arrow-left {
	    left: -29px;
	}	
	
	.browse-list{
		-webkit-column-count: 1;
		-ms-column-count: 1;
		-moz-column-count: 1;
		-o-column-count: 1;
		column-count: 1;

		float:none;
		width:auto;
	}
	.pagination{
		width:100%;
	}
	.browse-choices{
		width:57%;
	}
	.browse-choices li{
		margin:0 20px 20px 0;
	}
	.title-details{
		width:53%;
	}
	.title-details-inline-ad{
		float:none;
		margin:1em 0;
	}
	.episode-list-player,
	.episode-list-title{
		width:100%;
		margin:.5em 0;
		float:none;
	}
	.global-donate-button-wrap{
		text-align: left;
		margin:0 0 0 10px;
		float:left;
	}
	.footer-ad{
		margin:1em auto;
		text-align: center;
	}
	.foot-moveable{
		float: none;
	}
	.social-wrap,
	.libsyn-wrap{
		float:none;
		margin:0 0 2em;
	}
	.tab-trigger{
		font-size:.8em;
	}
	.title-details .consumption-box{
		display:block;
	}
	.title-details .consume-list{
		-ms-column-count:2;
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count:2;
	}
	.title-details-extras{
		width:auto;
		float:none;
	}
	.title-details .title-footer{
		display: none;
	}
	.title-details-extras .title-footer{
		display: block;
	}
	.title-details{
		float:none;
		width:auto;
	}
	.title-details-content-ad-2{
		margin:1em auto;
		width:728px;
		height:90px;
	}
}

/* 
 * 2 panes per shelf
 */
@media all and (max-width:753px){
	.home-leaderboard{
		margin:0 -4%;
		text-align: center;
		width:auto;
	}
	.browse-results-ad-3,
	.browse-results-ad-2,
	.browse-results-ad-1{
		float:none;
		margin: 1em auto;
		height:280px;
		width: 336px;
	}
	.search-results-top-ad{
		height:250px;
		width:300px;
		margin:0 auto 1em;
	}
	.title-details-right-large,
	.title-details-content-ad-2{
		width:336px;
		height:280px;
		margin:1em 0;
	}
	.browse-list-ad,
	.browse-choices-ad{
		width:300px;
		height:250px;
		float: none;
		margin:1em auto;
	}
	.footer-ad{
		display: none;
	}


	.shelf-arrow-right {
	    right: -6px;
	}
	.shelf-arrow-left {
	    left: -6px;
	}
	.shelf-arrow:visited,
	.shelf-arrow:hover,
	.shelf-arrow:link,
	.shelf-arrow:active{
	    text-decoration:none;
	}
	
	#djDebug{
		display:none;
	}

	.width,
	.home .width{
		min-width: 0;
	}
	.hide-on-mobile{
		display:none;
	}
	.shelf-select-form select{
		width:120px;
	}
	
	.search-additional-fields{
		left:10px;
		top:25px;
	}
	
	/*
	 * Browse Choices
	 */
	.browse-choices{
		text-align:center;
		margin:10px 0 30px;
		width:auto;
	}
	.browse-choices li{
		width:45%;
		text-align:center;
		margin:5px 5px;
		padding:0;
	}
	.browse-choices a{
		max-width: none;
	}
	.browse-choices-page h1{
		text-align:center;
		padding-left:0;	
	}
	
	.or-p{
		left:42%;
	}
}


/*
 * 5 Panes per shelf
 */
@media all and (min-width:1200px){
	.home .width{
		max-width:1064px;
	}

	.browse-list{	
	}
	.browse-choices{
		width:70%;
	}
	.browse-choices li{
		width:25%;
	}
	.consume-list a {
		padding-left:65px;
	}
	.title-details{
		width:68%;
	}
	.foot-nav{
		text-align: left;
	}
	.footer-ad{
		margin: 1em 0;
	}

	.foot-moveable{
		position: absolute;
		top:1em;
		right:0;
	}
	.home .foot-moveable{
		top:0;
	}
	.social-wrap,
	.libsyn-wrap{
		float:none;
		margin:0 0 2em;
	}
	.search-results-top-ad{
		height:250px;
		width:970px;
	}
	.title-details-content-ad-2{
		margin:1em auto;
		width:728px;
		height:90px;
	}

}
@media all and (min-width:1400px){
	.width,
	.home .width{
		max-width:1596px;
	}
}
