.rating-instructions{
	margin:1em 0 .3em;
	font-weight: bold;
	font-size:.9em;
	text-align: center;
}
.rating-widget-wrap{
	width:100%;
	float:left;
	text-align: center;
	padding:0 0 1em;
}
.rating-widget{
	list-style:none;
	padding:0;
	width:100%;
}
.rating-widget-item{
	float:right;
	width:24.5%;
	margin:0;
	text-align: center;
	line-height:1.5em;
	font-size:1.5em;
	color:#fefefe;
	overflow: hidden;
	position: relative;
}
.rating-widget-link{
	display:block;	
}
.rating-widget-link:hover{
	text-decoration: none;
}
.rating-widget-item-promote .rating-widget-link{
	background:#f2f5f7;
	color:#13ab13;
	border-radius:0 10px 10px 0;
	border-left:solid 1px #fff;
}
.rating-widget-item-promote .rating-widget-link:hover{
	color:#fefefe;
	background:#13ab13;
	
	
}
.rating-widget-item-detract .rating-widget-link {
	background:#f2f5f7;
	color:#96191f;
	border-radius:10px 0 0 10px;
	border-right:solid 1px #fff;
	
}
.rating-widget-item-detract .rating-widget-link:hover {
	background:#96191f;
	color:#fefefe;
	
}

.rating-widget-active .rating-widget-link{
	color:#272727;
}

.rating-widget-item-promote{	
	border-radius:0 10px 10px 0;
	
}
.rating-widget-item-detract-active{
	background:#96191f;
}
.rating-widget-item-promote-active{
	background:#13ab13;
	
}
.rating-widget-item-detract{
	border-radius:10px 0 0 10px;
	
}
.rating-widget-item-rating{
	width:50%;
	font-weight: bold;
	background:#f2f5f7;
}
.ratings-too-few{
	font-size:.6em;
	font-weight: normal;
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
}
.rating-widget-too-few{
	
}
.rating-widget-too-few .rating-widget-item{
	width:49.5%;
}

.rating-range {
	
}
.rating-range-100{
	color:#13ab13;
}
.rating-range-90{
	color:#13ab13;	
}
.rating-range-80{
	color:#89e022;
}
.rating-range-70{
	color:#e0be22;
}
.rating-range-60{
	color:#e0be22;
}
.rating-range-50{
	color:#e0be22;	
}
.rating-range-40{
	
	color:#e08922;
}
.rating-range-30{
	color:#96191f;
}
.rating-range-20{
	color:#96191f;
}
.rating-range-10{
	color:#96191f;
}
.rating-range-0{
	color:#96191f;	
}

