/*
 * Basic Shelf Styling
 */
.shelf {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 3px 5px rgba(150, 150, 150, .8);
    padding: 0 0px 0px 0px;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 267px;
    margin-bottom: 1em;
    overflow:hidden;
}
.shelf-wrapper{
	margin:2em 0 1em;
}

.pbShelf{
	overflow:visible;
}

.shelf-heading {
    padding: 8px 10px 7px 20px;
    margin:0;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 3px 5px rgba(150, 150, 150, .8);
    font-weight: bold;
    font-family: tahoma, sans-serif;
    font-size:22px;
}



/*
* Shelf Themes
*/

.shelf-dark {
    background: #06539e;
}

.shelf-heading-dark {
    color: #fff;
    background: #40a8d1; /* Old browsers */
	background: -moz-linear-gradient(top,  #40a8d1 0%, #4280bd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#40a8d1), color-stop(100%,#4280bd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #40a8d1 0%,#4280bd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #40a8d1 0%,#4280bd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #40a8d1 0%,#4280bd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #40a8d1 0%,#4280bd 100%); /* W3C */
	filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#40a8d1', endColorstr='#4280bd',GradientType=0 )"; /* IE6-9 */
}

.shelf-light {
    background: #d0deee;
}

.shelf-heading-light {
    color: #fff;
    background: #a7cfdf; /* Old browsers */
    background: -moz-linear-gradient(top, #a7cfdf 0%, #90b3dd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a7cfdf), color-stop(100%, #90b3dd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a7cfdf 0%, #90b3dd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a7cfdf 0%, #90b3dd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a7cfdf 0%, #90b3dd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #a7cfdf 0%, #90b3dd 100%); /* W3C */
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#a7cfdf', endColorstr = '#90b3dd', GradientType = 0)"; /* IE6-9 */
}

/*
* Shelf slider (js driven)
*/
.shelf-view {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.whole-shelf {
    overflow: hidden;
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.shelf-item {
    background: #fff;
    float: left;
    width: 230px;
    margin: 8px 8px;
    border-radius: 10px;
    padding: 10px;
    height: 230px;
    overflow: hidden;
    position:relative;
}
.shelf-cover-wrap{
	display: block;
	float:left;
	width:67px;
	min-height: 67px;
	margin: 2px 1.2em 1.2em 2px;
	padding:0;
}


.shelf-cover-loading{
	opacity:0;
}
.no-opacity .shelf-cover-loading{
	display: none;
}
.shelf-cover {
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;

	float:left;
    padding: 0;
    margin:0;
    width: 100%;
    height: auto;
    display:inline-block;
}

.shelf-item-text {
    float: left;
    margin: -3px 0 0;
    height:98%;
    color:#545454;
    font-size: .8em;
}
.shelf-item-heading {
    line-height:1.2em;
    margin:0 0 .2em;
    font-weight: normal;
    font-size:1.2em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    
}
.shelf-item-heading a{
	color:#878787;
	text-decoration: none;
}


.shelf-item-contributors {
    display: block;
    padding:0;
    margin:0 0 1.2em;
    font-size:.9em;
    font-weight: bold;
}

.shelf-item-rating {
    position: absolute;
    bottom:10px;
    height: 30px;
    width: 63px;
    background: url("../images/pb-thumbs-up-bar.jpg") no-repeat;
    text-align: right;
    padding-top: 2px;
    padding-right: 5px;
}

/*
 * Next/Prev Arrows
 */
.shelf-arrow{
	display: block;
    position: absolute;
    top: 35px;
    z-index: 5;
    opacity:.8;
    height:90px;
    padding:65px 7px 0 7px;
    box-shadow:0 0 7px rgba(0,0,0,.1);
    font-size: 20px;
    font-weight:bold;
    overflow:hidden;
}

.csstransforms .shelf-arrow{
	top:47%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.shelf-dark .shelf-arrow{
    background:#06539e;   
    
}
.shelf-light .shelf-arrow{
	background:#d0deee;
}
.shelf-arrow:visited,
.shelf-arrow:hover,
.shelf-arrow:link,
.shelf-arrow:active,
.shelf-arrow:hover {
    text-decoration:none;
    color:#fff;
    
}	
.shelf-arrow-right {
    right: -35px;
	border-radius:0 300px 300px 0;
}

.shelf-arrow-left {
    border-radius:300px 0 0 300px;
    left: -35px;
}
.shelf-arrow:hover{
	opacity:1;
}

.shelf-select-form {
    position: absolute;
    right: 10px;
    top: -37px;
}

.shelf-select-form label {
    display: none;
}
.shelf-select-form p{
	padding:0;
}
.shelf-ajax-loader {
    padding-top: 70px;
    height: 160px;
    text-align: center;
}

.shelf-no-items {
    text-align: center;
    padding-top: 70px;
}

.shelf ul{
	list-style:none;
}
/*
* Steps
*/
.shelf-step {
    float: left;
    list-style: none;
    position: absolute;
    top: -27px;
    left: 45%;
}
/*
.touch .shelf-step,
.touch .shelf-arrow{
	display:none;
}*/
.shelf-step li {
    float: left;
}

.shelf-step a {
    float: left;
    width: 10px;
    height: 10px;
    background: #fff;
    margin-right: 3px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;

}

.shelf-dark .shelf-step-cur {
    background: #c59e76;
}

.shelf-light .shelf-step-cur {
    background: #f0beb9;
}
