/*
 * Smallest screen sizes
 */
@media all and (max-width:501px){
	h1{
		font-size:1.3em;
	}
	.float-return{
		float:none;
		margin:0 0 1.4em;
	}

	.two-col-left,
	.two-col-right{
		display: block;
		float:none;
		width:auto;
		margin:1em 0 2em;
	}
	.donate .two-col{
		margin:0;
		padding:0;
		border:none;
	}

	/*
	 * Browse Choices
	 */
	.browse-choices li{
		width:45%;
		text-align:center;
		margin:5px 5px;
		padding:0;
	}
	.browse-choices a{

	}
	.hide-on-small-screen{
		display:none;
	}
	.browse-choices{
		text-align:center;
		margin:10px 0 30px;
	}
	.browse-choices a{
		padding:15px 10px 5px;
		height:auto;
	}
	.browe-choices-page h1{
		text-align:center;
		padding-left:0;
	}
	.browse-choices-ad{
		margin:-10px 0 20px 0;
	}
	
	/*
	 * browse list
	 */
	.browse-list{
		-webkit-column-count: 1;
		-moz-column-count: 1;
		-o-column-count: 1;
		column-count: 1;
	}
	/**
	 * Foot nav
	 */
	.foot-nav{
		list-style: none;
		margin:0 0 1.4em;
	}
	.foot-nav li{
		display: block;
		text-align: center;
		line-height: 1.5em;
		margin:.3em 0;
		font-size:1.1em;
	}
	
	/*
	 * ads
	 */
	.horizontal-large-ad{
		display:none;
	}

	.block-ad{
		display:none;
	}
	.title-list-250-ad{
		float:none;
		display:block;
		margin:15px auto;
		width:250px;
	}
	
	/*
	 * width-specific classes
	 */
	.hide-lowest-width{
		display:none;
	}
	body{
		background:#fff;
	}
	.shelf-select-form{
		position:absolute;
		top:-54px;
		left:10px;
		right:auto;
		width:80%;
		z-index:99;
	}
	.shelf-select-form select{
		width:100%;
	}
	.shelf-step{
		display:none;
	}
	.shelf-heading{
		margin:0 auto;
		padding-bottom:33px;
		
	}
	.shelf-wrapper{
		padding:0 0 30px;
	}
	.home .width,
	.width{
		width:auto;
		padding:0;
		margin:0;
	}
	.nav{
		width:auto;
	}
	.browse-by{
		float:left;
		width:auto;	
		margin:0;	
		padding:0;
	}
	.browse-by li{
		margin:0;
	}
	.nav-bar{
		position:static;
	}	
	
	.search-keywords{
		width:200px;
	}
	.search-submit{
		margin-left:10px;
	}		
	.home .pg-foot,
	.pg-foot{
		border-top:solid 1px #d7d7d7;	
		text-align:center;	
		padding:1em 18px;
	}
	.foot-moveable{
		text-align: center;
	}
	.loading{
		float:none;
		margin-right:0;
	}
	.promoter-count,
	.detractor-count {
		height:30px;
	}
	
	.logo{
		display:none;
	}
	.nav-bar{
		border-radius:0;
		padding:0;
		margin:0;
		background:#c1d6ee;
		box-shadow:0 1px 7px rgba(0,0,0,.2);
		position:relative;
		z-index:9;
		min-height:0;
		height:auto;
		border-right:solid 1px #E2E8EE;
	}
	.nav{
		display:none;
	}
	
	.site-menu{
		display:none;
		position:absolute;
		z-index:100;
		border-bottom:solid 1px #C7D9ED;
	}
	.site-menu .nav,
	.site-menu .browse-by{
		display:block;
		text-align:left;
		border-right:none;
		border-left:none;
	}
	.nav-bar li{
		margin:0;
	}
	.menu-triggers{
		margin:0;
		display:block;
		float:left;
		border-left:solid 1px #b2ceee;
		border-right:solid 1px #e2e8ee;
		list-style: none;
	}
	.menu-triggers li{
		padding:0;
		margin:0;
		height:auto;
	}
	.menu-trigger{
		display:block;			
		border-right:solid 1px #b2ceee;
		border-left:solid 1px #e2e8ee;		
		margin:0;		
		padding:0;
	}
	.menu-trigger-active{
		background:#b1cded url(img/menu.png) 95% 65% no-repeat;
		border-right-color:#b1cded;
		border-left-color:#b1cded;
	}
	.menu-active{
		display:block;
		position:absolute;
		z-index:9999;
		background:#b1cded;
	}
	
	.menu-trigger img{
		height:30px;
		width:44px;
		padding:5px 7px 0;
		margin:0;
		display:inline-block;
	}
	
	.head{
		margin:0;	
	}
	.pg{
		padding:30px 10px 10px;
		background:#fff url(img/pb-background.jpg) left -350px repeat-x;
		position: relative;
	}
	.search-results .pg{
		padding-top:15px;
	}
	.home .pg{
		padding:0;
	}
	.site-menu-active{
		background:#b1cded;
		overflow:hidden;
		
	}
	.site-menu-active .pg{
		box-shadow:inset 0 0 8px rgba(0,0,0,.2);
	}
	.site-menu{
		min-width:230px;
	}
	.site-menu ul{
		display:block;
		float:none;
		margin:0;
	}
	.site-menu li{
		display:block;
		float:none;
		width:auto;
	}
	.site-menu a{
		display:block;
		float:none;
		width:auto;
		padding:12px 10px;
		border-top:solid 1px #c7d9ed;
		border-bottom:solid 1px #a5c6ed;
		position:relative;
		background-size:13px;
	}
	.site-menu a:after{
		content:"\e801";
		 font-weight: normal;
	    font-style: normal;
	    line-height: normal;
	    font-family: 'fontello';
	    font-size:9px;
	    position: absolute;
	    right:10px;
	    top:40%;
	    color:#fff;
	}
	.site-menu a:active,
	.site-menu a:hover,
	.site-menu a:link,
	.site-menu a:visited,
	.site-menu a{
		color:#fff;
		text-decoration:none;
		font-weight:bold;
	}
	.podiobooks-nav-text,
	.podiobooks-nav-text a,
	.podiobooks-nav-text a:link,
	.podiobooks-nav-text a:active,
	.podiobooks-nav-text a:visited,search
	.podiobooks-nav-text a:hover{
		display:block;
		float:left;
		font-size:18px;
		font-weight:Bold;
		color:#fff;
		margin:0;
	}
	.podiobooks-nav-text a{
		padding:11px 0 0 55px;
		background:url(img/pb-logo-icon.png) 10px bottom no-repeat;
		background-size:auto 85%;
	}
	.podiobooks-nav-text{
		padding:0;
		displaY:none;
		
				
	}
	/*
	 * Search
	 */
	.search{
	 	width:auto;
	 	margin:0 0 2px;
	 	padding:5px 0;
	 	float:none;
	 	box-shadow:0 1px 1px #b2ceee, 0 2px 1px #e2e8ee;
		
		position:absolute !important;
		clip: rect(1px 1px 1px 1px);
		/* IE6, IE7 */
		clip: rect(1px, 1px, 1px, 1px);		
	}
	.search-active{
		position:static !important;
		clip:auto;
	}
	.search-bar-trigger{
		display:block;
		float:right;
	}
	.search-bar-trigger:link,
	.search-bar-trigger:active,
	.search-bar-trigger:visited,
	.search-bar-trigger:hover{
		width:30px;
		height:30px;
		text-align: right;
		color:#fff;
		overflow: hidden;
		margin:4px 4px 0 0;
	}
	.search-bar-trigger:before{
		width:100%;
		height:100%;
		color:#fff;
		display:block;
		float:right;
		font-size:18px;
		margin:9px 5px 0 0;
	}
	.search-results .gsc-orderby-container{
		text-align: left;
	}
	.search-results .gsc-above-wrapper-area,
	.search-results .gsc-refinementsArea,
	.search-results .gsc-tabsArea{
		display:none;
	}
	.pg .gsc-search-box{
	    margin:0 10px 10px;
	}
	.pg .gsc-search-box table{
		margin:0;
	}
	
	.title-license{
		padding:0;		
	}
	.title-license img{
		position:static;
		left:auto;
		top:auto;
		float:left;
		padding:0;
		margin:3px 10px 0 0;
	}

	.fdbk_tab_left,
	.fdbk_tab_bottom{
		display:none;
	}

	.tab-trigger{
		font-size:14px;
	}

	/*
	 * Shelves
	 */
	.shelf{
		border-radius:0;	
		margin:0;
		box-shadow:none;	
		padding: 0 0 5px 0;
	}
	.shelf-dark{
		border-bottom:solid 1px #032a51;		
	}
	.shelf-heading-light{
		border-top:solid 1px #b7e2f5;
	}
	.shelf-light{
		border-bottom:solid 1px #3992b9;
	}
	.shelf-heading{
		border-radius:0;	
		margin:0;
		padding:15px 10px 40px 10px; 
		box-shadow:none;
	}
	.shelf-heading-dark{
		border-top: solid 1px #87c6e2;
	}
	.shelf-wrapper:first-of-type .shelf-heading-dark{
		border-top: solid 1px #3992b9;
	}
	.shelf-wrapper{
		margin:0;
		padding:0;	
	}
	.shelf-arrow,
	.shelf-arrow:visited,
	.shelf-arrow:hover,
	.shelf-arrow:link,
	.shelf-arrow:active,
	.shelf-arrow:hover{
		font-size:16px;
		text-shadow: 1px 1px 1px rgba(255,255,255,.5), -1px -1px 1px rgba(0,0,0,.4);
		height:auto;
		width:auto;
		padding:0;
		background:none;
		border-radius:0;
		box-shadow:none;
	}
	.shelf-arrow-right{
		right:10px;
		top:-75px;
		background-size:13px;
	}
	.shelf-arrow-left{
		left:auto;
		right:35%;
		top:-75px;
		background-size:13px;
	}
	.touch .shelf-arrow{
		display:none;
	}
	.home .pg-foot{
		border:none;
	}
	.shelf{
		border-top:solid 15px;
	}
	.shelf:after,
	.shelf:before{
		content:" ";
		display:block;
		position:absolute;
		width:0;
		height:0;
		left:15px;
		top:-17px;
		border:solid 15px transparent;
	}
	
	.shelf-dark{
		border-top-color: #06539e;
	}
	
	.shelf-dark:after{
		border-top-color:#4280bd;
	}
	.shelf-light{
		border-top-color: #d0deee;
	}
	.shelf-light:after{
		border-top-color:#90b4dd;
	}
	.shelf{
		padding-bottom:10px;
	}
	.touch .shelf-select-form{
		left:auto;
		right:10px;
		width:55%;
		
	}
	.touch .shelf-heading{
		padding-bottom:12px;
	}
	
	/*
	 * Title list
	 */
	.title-list{

	}
	.title-list-title{
		font-size:1.3em;
		line-height: 1.2em;
	}
	.title-list-item{
		padding:15px 0;
		margin:0;
		position:relative;		
		border-bottom:solid 1px #e7e7e7;
	}
	.title-list>li:first-of-type>.title-list-item{
		border-top:solid 1px #e7e7e7;
		margin-top:20px;	
	}
	.title-list>li:nth-of-type(4)>.title-list-item{
		border-top:solid 1px #e7e7e7;
		
	}
	.title-list-item-desc{
		display:none;
	}
	.title-list-item .cover-image{
		float:right;
		margin:0 0 10px 20px;
	}
	.subscribable-heading h1{
		
	}
	.subscribable-heading h2{
		margin:0;
	}
	.subscribable-heading-text{
		display:none;
	}
	
	/*
	 * Browse Link
	 */
	.browse-by,
	.global-donate-button-wrap{
		float:left;
		height:42px;
		border-right:solid 1px #E2E8EE;
		width:auto;
		padding:0;
		margin:0;
	}
	.site-menu .browse-by{
		height:auto;
	}
	.site-menu .browse-by a{
		padding-bottom:8px;
	}
	.browse-by li,
	.global-donate-button-wrap .global-donate-button{
		display:block;
		border-right:solid 1px #B2CEEE;
		height:100%;
		border-radius: 0;

	}
	
	.browse-by a,
	.global-donate-button-wrap .global-donate-button,
	.global-donate-button-wrap .global-donate-button:hover{
		color:#fff;
		display:block;
		height:33px;
		padding:8px 15px 0;
		font-size:17px;
		vertical-align: baseline;
		line-height: 1.5em;

	}
	

	/*
	 * Title Details
	 */
	.title-details-header{
		position: relative;
		margin:0;
	}
	.title-details-header-info{
		float:none;
		width:100%;
	}
	.title-details-header-cover-wrap{
		float:none;
		width:auto;
	}
	.title-details-header-cover-wrap .title-details-header-cover,
	.title-details-header-cover{
		position: absolute;
		right:0;
		top:0;
		width:25%;
	}
	.title-details-header-info p,
	.title-details-header-info h1{
		width:70%;
	}
	
	.title-details-square-ad{
		float:none;
		width:auto;
		margin:1em -10px 1em;
		text-align: center;
		background:#e7e7e7;
		height:250px;
		padding:5px 0;
	}
	.first-episode-html5-player{
		width:100%;
	}
	.first-chapter{
		text-align: center;
	}
	.episode-list-title{
		float:none;
		width:auto;
	}
	.episode-list-player{
		float:none;
		width:100%;
		margin:.5em 0;
	}
	.episode-list-item{
		padding:.8em 0 .4em;
	}
	.ui-tabs .ui-tabs-panel{
		padding:.5em;
	}

	.title-details .consume-list{
		-ms-column-count:1;
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count:1;
	}
	.rating-widget-wrap{
		width:100%;
	}


	.or-p{
		position: static;
		top:auto;
		left:auto;
		
		border:solid 3px #d0deee;
		border-radius: 200px;
		
		margin:1em auto;
	}
	
	.foot-moveable{
		margin-left:-18px;
		margin-right:-18px;
	}
	
}
