/*
 * Elements
 */
body {
    background: #fff url('../images/pb-background.jpg') left top repeat-x;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #111;
}

h1, h2, h3, h4,
.like-h1 {
    margin: 0 0 .5em;
    color:#979797;
    font-weight: normal;
}

h1, .like-h1 {
    font-size: 1.7em;
    line-height: 1.2em;
    margin: 0 0 1em;
}

h2 {

    margin: 0 0 .7em;
}

a,
a:visited,
a:link,
a:active {
    color: #0054A6;
    text-decoration: none;
}

a:hover {
    color: #c35230;
}

ul,
p {
    margin: 0 0 1.4em;
    padding: 0;
    line-height: 1.5em;
}

a.fdbk_tab_bottom {
    right: 0;
    left: 0;
}

.float-left {
    float: left;

}

img,
audio {
    max-width: 100%;
}

.float-right {
    float: right;
}

.small-screen-only{
	display: none;
}

/*
* Layout
*/
.width {
    margin: 0 auto;
    width:88%;
}

.logo {
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo, .logo img {
    max-width: 100%;
}

.pg {
    padding: 0;
}

.touch .hide-on-touch {
    display: none;
}

.nav-bar {
    padding: .7em 1.2em .6em;
    border-radius: 10px;
    box-shadow: 0 3px 5px #aaa;
    margin: 0 0 35px 0;
    position: relative;
    background: #d0deee; /* Old browsers */
    min-height: 27px;
    font-family: Verdana, sans-serif;

}

.nav-bar ul {
    margin-bottom: 0;
}

.nav-bar h2 {
    display: inline;
    margin: 0 8px 0 60px;
    color: #464646;
    font-weight: normal;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar li {
    margin: 0 10px 0 0;
}


.headerbar {
    padding: 15px 20px 8px 20px;
    margin: 0 0 20px 0;
}


/*
* Navigation
*/
.nav {
    list-style: none;
    float: left;
}

.nav li {
    float: left;
}

/*
* Browse
*/
.browse-by {
    list-style: none;
    display: block;
    float: left;
    padding: 5px 0 0;
}

.browse-by li {
    display: inline;
}

/*
*
* Search
*/
.search {
    float: right;
    width: 250px;
    padding: 5px 0 0;
}

.nav-bar input.gsc-search-button-v2 {
    padding: 6px 18px;
    height: 14px;

}

.nav-bar .gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 0;
}

.nav-bar input.gsc-search-button {
    margin: 0;
}

@media all and (min-width: 502px) {

}

.cse-container {
    margin: 0 -10px;
}

body .gsc-control-cse {
    padding: 0;
}

.gsc-wrapper {
    padding: 0 10px;
}

body form.gsc-search-box {
    margin: 0 10px 0;
    width: auto;
}

.search-results-page .nav-bar .search {
    display: none;
}

.search-results-page .search-bar-trigger,
.search-bar-trigger {
    display: none;
}

.search-results-page table.gsc-search-box {
    width: auto;
}

/*
 * Facebook widget
 */
#fb-root,
.fb-reset {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    display: none;
}

.fb-like {
    width: 100px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.title-details-social-share {
    list-style: none;
    margin: 1em 0;
}

.title-details-social-share li {
    float: left;
    margin: 0 .5em 0 0;
}

/*
* Foot
*/
.pg-foot {
    position: relative;
    border-top: solid 1px #e7e7e7;
}

.home .pg-foot {
    border-top: none;
}

.foot-moveable {
    text-align: center;
    float: right;
}

.libsyn-wrap,
.social-wrap {
    margin: 0 0 2em;
}

.pg-foot ul {
    list-style: none;
}

.pg-foot li {
    display: inline-block;
    margin: 4px;
}

.pg-foot li:first-of-type {
    margin: 0 4px 0 0;
}

.foot-nav {
    font-size: .9em;
    margin: 1em 0 1em;
    text-align: center;
}

.pg-foot .foot-nav-extra {
    margin-bottom: 30px;
}

.pg-foot p {
    color: #464646;
}

.legal p {
    margin: 0;
}

.footer-ad {
    width: 728px;
    height: 90px;
    overflow: hidden;
    margin: 1em auto;
}

.title-titlebar {
    height: 40px;
}

.leaderboard-ad {
    width: 728px;
    height: 90px;
    margin: 0 auto 0 auto;
}

.horizontal-large-ad {
    width: auto;
    overflow: hidden;
    margin: 20px 0;
}

.menu-triggers {
    display: none;
}

.podiobooks-nav-text {
    display: none;
}

.pagination {
	float:left;
	width:65%;
    margin: 1.3em 0;
    text-align: center;
}

.pagination-previous{
	float:left;	
}
.pagination-next{
	float:right;
}
/*
 * Jump to content link
 */
.jump-to-content,
.jump-to-content:link,
.jump-to-content:visited,
.jump-to-content:hover,
.jump-to-content:active {
    position: absolute;
    top: -1000px;
    left: 20px;
    -webkit-transition: top .3s ease-in-out;
    -moz-transition: top .3s ease-in-out;
    -o-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out;
    background: #06539e;
    display: block;
    width: 160px;
    height: 50px;
    border-radius: 15px;
    color: #fff;
    z-index: 9999;
    padding: 10px 10px 5px;
    text-decoration: none;
    text-align: center;

    /* Old browsers */
    background: -moz-linear-gradient(top, #40a8d1 0%, #4280bd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40a8d1), color-stop(100%, #4280bd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #40a8d1 0%, #4280bd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #40a8d1 0%, #4280bd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #40a8d1 0%, #4280bd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #40a8d1 0%, #4280bd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40a8d1', endColorstr='#4280bd', GradientType=0); /* IE6-9 */
}

.jump-to-content:focus {
    top: 20px;
    margin: 0 auto;
}

.rating-adult {
    background: url('../images/pb-rating-adult.png');
    display: inline-block;
    height: 11px;
    width: 37px;
    margin: 5px 0 3px 0;
}

.rating-explicit {
    background: url('../images/pb-rating-explicit.png');
    display: inline-block;
    height: 11px;
    width: 37px;
    margin: 5px 0 3px 0;
}

.rating-family {
    background: url('../images/pb-rating-family.png');
    display: inline-block;
    height: 11px;
    width: 37px;
    margin: 5px 0 3px 0;
}

.rating-kids {
    background: url('../images/pb-rating-kids.png');
    display: inline-block;
    height: 11px;
    width: 37px;
    margin: 5px 0 3px 0;
}

/**
 * Global Donate form
 */
.general-donation-form {

}

.submit-button,
.submit-button:link,
.submit-button:hover,
.submit-button:active,
.submit-button:visited {
    margin: 0;
    font-size: 1em;
    font-family: Verdana, sans-serif;
    outline: none;
    display: inline-block;

    line-height: 1.5em;
    font-weight: 300;
    background: #e25f38;
    color: #fefefe;
    padding: 5px 15px;
    border-radius: 30px;
    border: solid 1px #e25f38;

    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;

    -webkit-font-smoothing: antialiased;
}

.submit-button:hover {
    background: #f6673d;
}

.author-donation-submit,
.author-donation-submit:hover {
    border-radius: 0 30px 30px 0;
    width: 35%;
}

.author-donation-text {
    font-size: 1em;
    padding: 5px 10px;
    text-align: center;
    line-height: 1.5em;
    margin: 0;
    background: none;
    border: solid 1px #b7b7b7;
    border-right: none;
    width: 50%;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 0;
}

.author-donation-form label {
    display: block;
    text-align: left;
    padding-left: 5%;
}

.global-donate-button {

}

.global-donate-button-wrap {
    margin: 0 auto;
    width: 100px;
    display: block;
    text-align: center;
    line-height: 1.5em;
    font-size: 1em;

}

.donate .global-donate-button,
.title-detail-page .global-donate-button {
    background: none;
    border: none;
    color: #0054A6;
    padding: 5px 0 0;
}

.donate .global-donate-button:hover,
.title-detail-page .global-donate-button:hover {
    color: #c35230;
}

.donate-options {
    position: relative;
}

.two-col {

}

.two-col-left {
    width: 48%;
    float: left;
}

.two-col-right {
    width: 45%;
    float: right;
}

.or-p {
    position: absolute;
    top: 25%;
    left: 44%;

    border: solid 3px #d0deee;
    border-radius: 200px;

    height: 90px;
    width: 90px;
    font-size: 1.8em;
    line-height: 1em;
}

.or-wrap {
    border: solid 2px #9ec3ee;
    border-radius: 200px;
    width: 80px;
    display: block;
    margin: 3px;
    height: 58px;
    padding-top: 22px;
    color: #777;
    background: #fff;
}
