/*
 * Title details
 */
.title-details-rail{
	width:300px;
	float: left;
	margin:0 2em 2em 0;
}
.title-details-rail .title-details-header-cover-wrap{
	float: none;
	width:100%;
}
.title-details-header-cover img{
	width:100%;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.title-details-rail .title-details-header-cover{
	width:100%;
}

.title-details-header-info h1{
	color:#272727;
}
.title-details{
	float:left;
	width:60%;
}
.title-details-extras{
	float:right;
	width:300px;
}
.title-details-header{
	margin:0 0 1.5em;	
}
.title-details-header-info{

}


.title-license {
    position: relative;
    padding-left:100px

}

.title-footer{
	overflow: hidden;
}

.title-license a,
.title-license a:visited,
.title-license a:hover,
.title-license a:link,
.title-license a:active {
    text-decoration: none;
}

.title-license img {

    position: absolute;
    left: 0;
    top: 5px;
}

.title-comment-byline {
    margin:1.4em 0 0;
    font-weight: bold;
}

.title-comment-text {
    margin:.3em 0 0;
}

.title-comment-readmore {
    font-weight: bold;
    margin:1em 0 0;
}

.title-comment-readmore a,
.title-comment-readmore a:hover,
.title-comment-readmore a:link,
.title-comment-readmore a:active,
.title-comment-readmore a:visited{
	color:#0054A6;
}


/*
* Tabs
*/
.title-tabs {
    margin: 0 0 40px;
    font-size:1em;
}

.episode-list {
    list-style: none;
}

.episode-list-player{
	width:40%;
	float:right;
}

.episode-list-title {
	float:left;
	width:50%;
}

.episode-list-description {
	
}

/*
 * Infobox
 */

.category a,
.category a:active,
.category a:visited,
.category a:link,
.category a:hover {
    text-decoration: none;
}




.detractor-count {
    display: block;
}

.promoter-count {
    display: inline;
}


/*
* awards
*/
.award-show {
	list-style: none;
	margin:10px 0;
	padding:0;
	text-align: center;
	
}
.award-show li{
	margin:10px 0;
	text-align:center;
	display: inline-block;	
}

.award-show img {
    width: 80px;
    vertical-align: middle;
    
}

/*
* Consumption Box
*/
.consumption-box {
	font-size:.8em;

    margin: 0 0 30px 0;
    box-shadow: 0 3px 5px #aaa;
    border-radius: 10px;
    position: relative;

    background: #d9e4f0; /* Old browsers */
    background: -moz-linear-gradient(top, #d9e4f0 0%, #a9d4f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d9e4f0), color-stop(100%, #a9d4f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d9e4f0 0%, #a9d4f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d9e4f0 0%, #a9d4f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d9e4f0 0%, #a9d4f9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d9e4f0 0%, #a9d4f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d9e4f0', endColorstr = '#a9d4f9', GradientType = 0); /* IE6-9 */
}
.title-details .consumption-box{
	display:none;
}

.headphone-title {
    background: url('../images/pb-headphones.png') center center no-repeat;
    height: 46px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 16px;
}

.consume-list {
    list-style: none;
    margin: 10px 0 10px 10px;
}

.consume-list a {
    text-decoration: none;
    display: block;
    height: 48px;
    margin: 8px 0 0 0;
    padding: 12px 0 0 55px;
    text-align: left;
}


.consume-itunes a {
    background: url('../images/pb-itunes-logo.png') left top no-repeat;
    background-size: 48px 48px;
    
}

.consume-scribl a {
    background: url('../images/pb-scribl-logo.png') left top no-repeat;
    background-size: 48px 48px;

}

.consume-rss a {
    background: url('../images/rss-icon.png') left top no-repeat;
    background-size: 48px 48px;
    
}

.consume-amazon a {
    background: url('../images/pb-amazon-logo.png') left top no-repeat;
    background-size: 48px 48px;
}

.consume-kindle a {
    background: url('../images/pb-kindle-logo.png') left top no-repeat;
    background-size: 48px 48px;
}

.consume-smashwords a {
    background: url('../images/pb-smashwords-logo.png') left top no-repeat;
    background-size: 48px 48px;
    letter-spacing: -.5px;
}

/*
* TipJar
*/
.tipjar-box {
    padding: 10px 5px;
    margin: 9px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background: #dce5ef; /* Old browsers */
    background: -moz-linear-gradient(top, #dce5ef 0%, #74a7bf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dce5ef), color-stop(100%, #74a7bf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dce5ef 0%, #74a7bf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dce5ef 0%, #74a7bf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dce5ef 0%, #74a7bf 100%); /* IE10+ */
    background: linear-gradient(to bottom, #dce5ef 0%, #74a7bf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dce5ef', endColorstr = '#74a7bf', GradientType = 0); /* IE6-9 */
}


.tipjar-submit{
	border:none;
	padding:10px 20px;
	font-size:1.1em;
	background:#e25f38;
	text-align: center;
	color:#fefefe;
	display:block;
	margin:.9em auto .4em auto;
	border-radius: 10px;
	-webkit-transition:background-color .15s ease-in-out;
	-ms-transition:background-color .15s ease-in-out;
	-moz-transition:background-color .15s ease-in-out;
	-o-transition:background-color .15s ease-in-out;
	transition:background-color .15s ease-in-out;
	-webkit-appearance: none;
}
.tipjar-amount{
	font-size:1.2em;
	border-radius:5px;
	padding:5px;
	border:none;
	background:#fefefe;
}
.tipjar-submit:hover{
	background:#f6673d;
}
.tipjar-form{
	
}

/*
* Episode List
*/
.episode-list-item {
    border-bottom: solid 1px #e2e5e7;
    border-top: solid 1px #fff;
    padding:1.1em 0;
    margin:0;

}

.episode-list-item:first-of-type {
    border-top: none;
}

.episode-list-item:last-of-type {
    border-bottom: none;
}

.episode-audio-link:visited {
    color: #362B36;
}

.episode-audio-link,
.episode-audio-link:link,
.episode-audio-link:active,
.episode-audio-link:hover {
    color: #0054A6;
}

