{% extends "base.html" %}
{% load global_templatetags %}

{% block headtitle %}Audio book authors, producers and narrators on {{ SITE.name }}{% endblock %}

{% block metatags %}
    <meta name="Description"
          content="Quickly find the free audio books by your favorite author, producer or narrator."/>
{% endblock %}

{% block content %}
<h1>All Contributors, Alphabetically by Last Name</h1>
<ul class="browse-list">
  {% for contributor in contributor_list %} 
  <li class="long-running-list-item contributor_list_item">
	<a href="
		{% ifequal contributor.title_set.all.count 1 %}
			{% url title_detail slug=contributor.title_set.all|first %} 
		{% else %} 
			{{ contributor.get_absolute_url }} 
		{% endifequal %}">{{ contributor.display_name }}</a>
      - {{ contributor.title_set.all.count }} title{{ contributor.title_set.all.count|pluralize }}</li>
  {% endfor %}
</ul>
<br>
{% show_pagination_links paginator page_obj %}
{% endblock %}

