{% extends "base.html" %}

{% block headtitle %}Audio book authors, producers and narrators on {{ SITE.name }}{% endblock %}

{% block metatags %}
    <meta name="Description"
          content="Quickly find the free audio books by your favorite author, producer or narrator."/>
{% endblock %}

{% block content %}
<style type="text/css">
	.contributor_list_item {
		margin: 10px 20px 10px 20px;
	}
</style>
<h1>
    All Contributors, Alphabetically by Last Name
</h1>
<ul>
  {% for contributor in contributor_list %} 
  <li class="contributor_list_item">
	<a href="
		{% ifequal contributor.contributes_to_count 1 %} 
			{% url title_detail slug=contributor.title_set.all|first %} 
		{% else %} 
			{{ contributor.get_absolute_url }} 
		{% endifequal %}">{{ contributor.display_name }}
	</a> - {{ contributor.contributes_to_count }} title{{ contributor.contributes_to_count|pluralize }}</li>
  {% endfor %}
</ul>
{% endblock %}

