{% extends "base.html" %}
{% load title_templatetags %}
{% block headtitle %}{{ contributor.display_name }} Profile - {{ SITE.name }}{% endblock %}
{% block content %}
	{% if title_list.count %}
	
		<h1>
		    {{ contributor.display_name }}
		</h1>

        {% if contributor.patreon_username %}
            <h2><a href="http://www.patreon.com/{{ contributor.patreon_username }}">Support this Author on Patreon!</a></h2>
        {% endif %}
		
		{% show_titlelist title_list "contributor_title_list" %}
	
	{% else %}
		<h1>There are currently no titles available for {{ contributor.display_name }}</h1>
	
	{% endif %}
{% endblock %}
