{% extends "base.html" %}

{% block title %}{{ SITE.name }} - Associate Your Account With Podiobooks{% endblock %}

{% block content %}
	<div id="completetxt">
	<h1>Your External Account is Verified!</h1>
	<p>You now need to associate your External Account new or existing {{ SITE.name }} nickname.</p>
	<p>You can change the association later in your preferences.</p>
	<br />
	</div>
	
	<div class="login" style="line-height:2">
        <form name="fregister" action="{% url user_register %}" method="POST">
            <input type="hidden" name="next" value="{{ next }}" />
			<fieldset>
				<legend style="font-weight:bold">Choose A {{ SITE.name }} Nickname for This Account:</legend>
				{{ form1.errors.username }}
				<div class="form-row"><label for="id_username">Username</label><br />{{ form1.username }}</div>
				{{ form1.errors.email }}
				<div class="form-row"><label for="id_email">Email</label><br />{{ form1.email }}</div>
				<div class="submit-row"><input type="submit" name="bnewaccount" value="Create account"></div>
            	</fieldset>
		</form>
	</div>

	<h3>OR</h3>
	<div class="login" style="line-height:2">
        <form name="fverify" action="{% url user_register %}" method="POST">
            <input type="hidden" name="next" value="{{ next }}" />
			<fieldset>
				<legend style="font-weight:bold">If you have an existing {{ SITE.name }} account, associate this External Account with it by logging in:</legend>
				{{ form2.errors.username }}
				<div class="form-row"><label for="id_username">Username</label><br />{{ form2.username }}</div>
				{{ form2.errors.email }}
				<div class="form-row"><label for="id_passwordl">Password</label><br />{{ form2.password }}</div>
				<div class="submit-row"><input type="submit" name="bverify" value="Verify"></div>
			</fieldset>
		</form>
	</div>
{% endblock %}

	

