{% load title_templatetags %}

<style type="text/css">
	.title-summary {
		height: 350px;
		width: 350px;
		font-size: 15px;
		font-family: "Arial Narrow", sans-serif;
		background-color: #FFFFFF;
	}
	.title-summary-header {
		background-color: #EFFBFB;
		padding: 5px;
		border-bottom: 2px solid #A9D0F5;
	}
	.title-summary-name {
		font-size: 11px;
		font-weight: bold;
		font-family: "Arial Black", sans-serif;
	}
	.title-summary-contributors {
		font-size: 17px;
	}
	.title-summary-description {
		background-color: #FFFFFF;
		font-size: 15px;
	}
	.title-summary-more {
		font-weight: bold;
		color: red;
	}
	.title-summary-footer {
		margin-top: 5px;
		border-top: 2px solid #A9D0F5;
	}
	.title-summary-episodes {
		float: left;
	}
	.title-summary-episodes-complete {
		float: left;
		vertical-align: text-top;
		background: url("{{ STATIC_URL }}images/complete.png") no-repeat left top;
		padding-top: 1px;
		margin-bottom: 1px;
		margin-left: 30px;
		width: 52px;
	}
	.title-summary-categories {
		float: right;
	}
</style>

<div class="title-summary">
	<div class="title-summary-description">
		{% autoescape off %}{{ title.description|striptags|truncatewords_html:165 }}{% endautoescape %}
	</div>
</div>