{% load global_templatetags %}
{% load title_templatetags %}

<article class="shelf-item" id="{{ shelf_id }}_title_{{ title.id }}">
    
    <div class="shelf-item-text">
        <h3 class="shelf-item-heading">
            <a data-title-slug="{{ title.slug }}" href="{% url title_detail title.slug %}">{{ title.name|striptags|truncatewords_afterchar:"30" }}</a>
        </h3>

        <p class="shelf-item-contributors">{{ title.byline|safe }}</p>
        
        <p>
            {% autoescape off %}{{ title.description|striptags|truncatewords_afterchar:"160" }}{% endautoescape %}
        </p>
    </div>
    
    <a href="{% url title_detail title.slug %}">
        <img data-title-slug="{{ title.slug }}" class="shelf-cover" src="http://asset-server.libsyn.com/show/{{ title.libsyn_show_id }}/height/99/width/67" alt="Cover for {{ title.name }}"/>
    </a>

    <aside class="shelf-item-rating">
        {{ title.promoter_count }} <span class="visuallyhidden">thumbs up</span>
    </aside>
    
    
</article>
