{% load global_templatetags %}
{% load title_templatetags %}
<div class="shelf-item" id="{{ shelf_id }}_title_{{ title.id }}">
    
    <div class="shelf-item-text">
        <h3 class="shelf-item-heading">
            <a href="{% url title_detail title.slug %}"
               style="text-decoration:none;">{{ title.name|striptags|truncatewords_afterchar:"30" }}</a>
        </h3>

        <div class="shelf-item-contributors">
            {{ title.byline|safe }}
        </div>
        <p>
            {% autoescape off %}{{ title.description|striptags|truncatewords_afterchar:"180" }}{% endautoescape %}
        </p>
    </div>
    
    <a href="{% url title_detail title.slug %}">
    	{% if title.libsyn_show_id %}
        	<img class="shelf-cover" src="http://asset-server.libsyn.com/show/{{ title.libsyn_show_id }}/height/99/width/67" alt="Cover for {{ title.name }}"/>
        {% else %}
        	<img class="shelf-cover" src="{% cover_media_url %}images/covers/67x99/{{ title.cover }}" alt="Cover for {{ title.name }}"/>
        {% endif %}
    </a>

    <aside class="shelf-item-rating">
        {{ title.promoter_count }}
    </aside>
    
    
</div>
