{% extends "base.html" %}
{% load main_templatetags %}
{% load title_templatetags %}
{% block headtitle %}{{ title.name }} - {{ site_name }}{% endblock %}
{% block title %}Book Information{% endblock %}
{% block content %}
<div class="title-detail" style="margin: 0 0 30px 0;">
    <div style="float:left;font-size: 10px; text-align: center">
        {% show_titlecover title %}
    </div>
    <div style="float:left; width: 750px; margin: 0px 0px 20px 20px">
        <div style="font-size: 18px; font-weight: bold;">
            {{ title.name }}
        </div>
        {% show_contributors title %}
        <br>
        {% show_categories title %}
        <br>
        <p style="margin: 20px 0px 0px 0px">
            {% autoescape off %}{{ title.description }}{% endautoescape %}
        </p>
        <br>
        {% if title.license %}
        <div style="float: left; margin: 20px 0px 0px 0px; vertical-align: middle;">
            <a rel="license" href="{{title.license.url}}"><img alt="{{ title.license.text }} Logo" style="border-width:0" src="{{title.license.image_url}}" /></a>
        </div>
        <div style="float: left; margin: 19px 0px 50px 10px; width: 650px;  vertical-align: middle;">
            This work is licensed under a <a href="{{title.license.url}}">{{ title.license.text }}</a>
            license.
        </div>
        {% endif %}
    </div>
</div>
{% if title.episode_set.all %}
<div style="font-size: 18px; clear: both; margin: 20px 0 0 20px; font-weight: bold;">
    Chapters
</div>
<div style="clear: both; margin: 30px;">
</div>
<div>
    <div style="font-weight: bold;">
        <div style="float:left; width:90px">
            Title
        </div>
        <div style="float:left; width:600px; margin-left: 10px;">
            Description
        </div>
        <div style="float:left; width:150px; margin-left: 10px;">
            Date Created
        </div>
    </div>
    <div style="clear:both;">
    </div>
    {% for episode in title.episode_set.all %}
    <div style="margin-top: 15px;">
        <div style="float:left; width:150px;">
            <a href="{{ episode.url }}">{{ episode.name }}</a>
            <div style="margin: 5px 0 0 10px; text-align: center; font-size: 10px">({{ episode.filesize|filesizeformat }}	MB)</div>
        </div>
        <div style="float:left; width:600px; margin-left: 10px;">
            {{ episode.description }}
        </div>
        <div style="float:left; width:150px; margin-left: 10px;">
            {{ episode.date_updated|date:"d-M-Y" }}
        </div>
    </div>
    <div style="clear:both;">
    </div>
    {% endfor %}
</div>
{% endif %}
</div>
<div style="clear:both;">
</div>
{% endblock %}