{% extends "base.html" %}

{% block headtitle %}All Contributors - {{ site_name }}{% endblock %}

{% block content %}
<style type="text/css">
	.contributor_list_item {
		margin: 10px 20px 10px 20px;
	}
</style>
<h1>
    All Contributors, Alphabetically by Last Name
</h1>
<ul>
  {% for contributor in contributor_list %} 
  <li class="contributor_list_item"><a href="{% ifequal contributor.title_set.all.count 1 %} {% url title_detail slug=contributor.title_set.all|first %} {% else %} {{contributor.get_absolute_url}} {% endifequal %}">{{ contributor.display_name }}</a> - {{ contributor.title_set.all.count }} title{{ contributor.title_set.all.count|pluralize }}</li>
  {% endfor %}
</ul>
{% endblock %}

