{% load global_templatetags %}

<li>
    <a href='{{title.get_absolute_url}}'>
        {% if title.libsyn_show_id %}
        <img src="http://asset-server.libsyn.com/show/{{ title.libsyn_show_id }}/height/212/width/144"
             alt="{{ title.name|striptags }}"/>
        {% else %}
        <img src="http://podiobooks.com/images/covers/{{ title.cover }}" alt="{{ title.name|striptags }}"/>
        {% endif %}
    </a>

    <p>{% autoescape off %}{{ title.description|striptags|truncatewords_afterchar:"200" }}{% endautoescape %}</p>
</li>