{% extends "base.html" %}

{% block headtitle %}Register for Podiobooks.com{% endblock %}

{% block title %}Register for Podiobooks.com{% endblock %}

{% block content %}
{% if form.errors %}
    <div class="errors">
        <p>Error while submitting form</p>
    </div>
    <br>
{% endif %}
<form action="" method="POST">
    <fieldset>
	    <legend>Enter the Details for Your New Account:</legend>
	    <table>
		    {{ form.as_table }}
	    </table>
	    <p><input type="submit" name="bsignup'" value="{% trans "Sign up" %}"> </p>
	 </fieldset>
</form>
{% endblock %}