<!--  Podiobooks 1.0 Legacy Include (TEMP) -->
<link rel="alternate" type="application/rss+xml" title="Podiobooker Blog (RSS 2.0)" href="http://www.podiobooks.com/index.xml" /> 
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}legacy/css/podiobooks_main.css" /> 
<div id="overDiv" style="position:absolute; visibility:hidden; z-index:1000;"></div> 
<script type="text/javascript" language="JavaScript" src="{{ MEDIA_URL }}legacy/javascripts/overlib.js"></script> 
 
<script type="text/javascript" src="{{ MEDIA_URL }}legacy/javascripts/rounded.js"></script> 
 
<script type="text/javascript"> 
 
	window.onload=function(){
		if(!NiftyCheck())
		return;
		Rounded("div#site","all","#FFFFFF","#A0A0A0","smooth");
		Rounded("div#books li","all","#EBEBEB","#C2C2C2","smooth");
	}
	
	function listensample(id) {
		
		listenwindow= window.open("http://www.podiobooks.com/player.php?ID=" + id, "tinyWindow", 'toolbar=no,width=550,height=400')
		
		if (!listenwindow){
			alert("It looks like you have a pop-up blocker active. Since the new player is in a pop-up window, you need to set your blocker to allow popups from www.podiobooks.com.  Thanks!");
			
		} else {
			listenwindow.focus();
		}
	}
	
	function doClick(theform, e)
	    {
	//the purpose of this function is to allow the enter key to 
	//point to the correct button to click.
	        var key;
		
	         if(window.event)
	              key = window.event.keyCode;     //IE
	         else
	              key = e.which;     //firefox
 
	        if (key == 13)
	        {
	            //Get the button the user wants to have clicked
	            theform.submit();
	        }
	   }
	
	function doClickSubmit(theform)
	    {
			theform.submit();
	   }
 
 
</script> 