<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="language" content="english"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	 	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"> 
	 	
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/boilerplate.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/1140.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/fonts.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
	 	<link href='http://fonts.googleapis.com/css?family=Trykker' rel='stylesheet' type='text/css'>
		
		<!-- 1140px Grid styles for IE -->
		<!--[if lte IE 9]>
			<link rel="stylesheet" href="{{ STATIC_URL }}css/no-cache/ie.css" type="text/css" media="screen" />
		<![endif]-->
	
		<title>{% block headtitle %}{{ site_name }}{% endblock %}</title>
	
		{% block metatags %}
		<meta name="Keywords" content="audio books, audiobooks, books, novels, podcast, podcasting, podiobooks" /> 
		<meta name="Description" content="Free audio books delivered as podcasts. Subscribe for free to any book and start from chapter one. Podiobooks.com" />
		{% endblock %}
		
		{% if debug %}
			<script type="text/javascript">
				var isDebug = true;
			</script>
		{% else %}
			<script type="text/javascript">
				var isDebug = false;
			</script>
		{% endif %}
		
		<script src="http://www.google.com/jsapi?key={{ GOOGLE_JS_API_KEY }}" type="text/javascript"></script>
		<script language="Javascript" type="text/javascript">
		    //<![CDATA[
		    google.load("jquery", "1.6.2");
			google.load("jqueryui", "1.8.9");
			//]]>
		</script>
		
		<!--[if lte IE 9]>
			<script type="text/javascript" src="{{ STATIC_URL }}js/no-cache/css3-mediaqueries.js"></script>
		<![endif]-->
		
		{% block head %}
		{% endblock %}
	</head>
	
	<body class='{% block body_class %}{% endblock %}'>
		
		<!-- Begin Header -->
		<div class="container top-bar">
			
		</div>
		<div class="container head">
			<div class="flare">
			
			{% block header %}{% include "header.html" %}{% endblock %}
			
			</div>
		</div>
		
		<!-- End Header -->
		
		<!-- Begin Main Content -->
		{% block content %}<p>No Content Defined</p>{% endblock %}
		<!-- End Main Content -->
		
		<!-- Begin Footer -->
		{% block footer %}{% include "footer.html" %}{% endblock %}
		<!-- End Footer -->
		
		
	</body>
</html>