<div class='pg-foot clearfix'>
	<ul class='foot-nav'>
	    <li><a href="#">FAQ</a></li>
	    <li><a href="/authors/">Authors</a></li>
		<li><a href="/staff/">Staff</a></li>
	    <li><a href="#">Privacy and Legal</a></li>
	    <li><a href="#">Blog</a></li>
	    <li><a href="#">Promos and Banners</a></li>
	    <li><a href="#">Community</a></li>
	</ul>
	<ul class='foot-nav-extra'>
        <li><a href="#">Send us Feedback</a></li>
        <li><a href="#">Report a Problem</a></li>
	</ul>
    <p>Text and Layout Copyright &copy; 2005-2011 Podiobooks.com. All rights reserved.</p>

    <p>See legal notes for audio file rights.</p>
</div>
