{% load global_templatetags %}<!-- Header - Logo and Navigation Bar -->
{% url podiobooks.main.views.index as home_url %}
{% if request.path == home_url %}
    <h1 class='hidden'><a href='/'>Podiobooks</a></h1>
{% endif %}

<p class='hidden'>Free Downloadable Audiobooks</p>
<p class='logo'><a href='/'><img alt='Podiobooks Logo' src='{{ STATIC_URL }}img/pb-logo.jpg' /></a></p>

<nav class='pg-head clearfix'>
    <ul>
        <li class="first"><a href='#'>Blog</a></li>
        <li><a href='#'>Community</a></li>
        <li>
        {% if user.is_authenticated %}
            <a href="{% url profile_manage %}">My Account</a></li>
            <li><a href="#">Logout {{ user.username }}</a>
        {% else %}
            <a href="{% ssl_site_login_url %}">Author Login</a>
        {% endif %}
        </li>
    </ul>
    {% show_searchbox %}
    {% show_browsebox %}
</nav>
<!-- End Header - Logo and Navigation Bar -->
