<aside class="a title-details-inline-ad hide-on-touch">
	{% if 'Erotica' in title.category_list %}
		<a href="http://www.ErectionFitness.com/ct/298422?b=7262&t=2014Sept"><img src="http://www2.sellhealth.com/2/ef250x250.gif" border=0></a>
	{% else %}
		{% if not debug %}
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
 			<!-- Mid-page | Med Rect | DP -->
 			<ins class="adsbygoogle"
 			     style="display:inline-block;width:300px;height:250px"
 			     data-ad-client="ca-pub-1276519440300441"
 			     data-ad-slot="6411561390"></ins>
 			<script>
 			(adsbygoogle = window.adsbygoogle || []).push({});
 			</script>
		{% endif %}
	{% endif %}
</aside>
