<span class="a title-details-right-large">
	{% if not debug %}
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Right 1 | Resp | DP -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-1276519440300441"
		     data-ad-slot="1200802593"
		     data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	{% endif %}
</span>

<span class="a title-details-right-small">
	{% if not debug %}
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Right 2 | Resp | DP -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-1276519440300441"
		     data-ad-slot="2677535794"
		     data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	{% endif %}
</span>


